[2016-03-02 20:31] dustymabe opened #1 "Investigate using a mechanism other than `whoami` to determine username"
We investigate using a mechanism other than `whoami` to determine username. We do that [here](https://github.com/dustymabe/vagrant-sshfs/blob/2576a0243bc08a6f2fc1a818225ae9ef281ef375/lib/vagrant-sshfs/synced_folder.rb#L116)

[2016-03-04 16:07] dustymabe opened #2 "password written to the terminal when an error occurs"
We need to figure out how to pass a password without having to echo and pipe it in as stdin so that the error message a user gets when a failure occurs doesn't have their password in it. Sometimes users don't realize it and then they copy and paste the output to others.

The output looks like this:
[code]

[2016-03-06 05:29] dustymabe opened #3 "add debian support for installing sshfs client software"
currently we detect if we are red hat based and install the fuse-sshfs rpm in the guest. We should add support for installing the debian equivalent in debian based guests.

[2016-03-06 23:29] dustymabe commented on #3
added support in 046bdec closing..

[2016-03-06 23:29] #3 closed

[2016-03-10 22:18] dustymabe opened #4 "Add ssh connection test - then ask user for password"
Right now if we see the user is forwarding their ssh-agent we don't ask them for a password. We should actually do an ssh connection check and then ask them for the password if it doesn't work rather than just failing.

[2016-03-14 17:46] dustymabe opened #5 "Allow for overriding mount options"
We should allow a user to append args as well as completely override the argument list given to sshfs. Add options for being able to do this.

[2016-03-15 14:46] Ziemowit opened #6 "Apache access to mounted file"
Is it possible to load web site by Apache after mount by your tool?

Because when I have been trying to use previous version (0.8) before you take the control over plugin development I have been receiving:

[code]

Maybe in your it works?

[2016-03-15 15:43] dustymabe commented on #6
hi @Ziemowit. I just tried and was able to get this to work. I set the shared folder location within the guest as the Document root for apache and disabled selinux (I used Fedora and not Ubuntu).

Also make sure you have configured apache to allow access to the system: http://httpd.apache.org/docs/2.4/upgrading.html#access

If you can't get things to work right for you I can try to send you a Vagr

[2016-03-15 22:05] dustymabe opened #7 "[RFE] Evaluate use case of mounting folder from guest to the host"
In the previous version of vagrant-sshfs a user could mount a folder from the guest into the host. Let's evaluate the use cases for this to determine if there are valid alternatives or if it is necessary to add the "mount guest folder onto host" functionality again.

Traditionally vagrant has been a throw away environment so mounting files from the guest into the host doesn't seem to be valuable b

[2016-03-16 06:40] Ziemowit commented on #6
Hmmm I am a little bit lost. When I have upgrade to version 1.0 I have following problem:

[code]
My config is:

[code]

Even if I put correct password then I receive this message...

**ps aux | grep sshd** claims that for my user sshd is running.

[2016-03-16 08:03] dustymabe commented on #6
Hey @Ziemowit,

From your output it looks like the sshfs client didn't get installed in the guest properly.

[code]

You are using ubuntu, correct? It should get installed automatically in the guest, but there might be a bug. Can you make sure the sshfs package is installed in the guest? You should be able to verify with: `dpkg -l sshfs`

[2016-03-16 08:13] Ziemowit commented on #6
Heh I have checked it.
So when I am using it with CoreOs box it does not work.
But when I have downloaded ubuntu/trusty to vagrant the everything works.

So it may be some problem with CoreOs distribution for vagrant. I will try to reinstall.

But I have found one more thing. In previous solution (v0.8) when you had halted vagrant then mounted directory disappeared. But in current solution it does

[2016-03-16 08:49] dustymabe commented on #6
With this solution the folder is mounted "from the host, into the guest", which means the files live on the host, but are simply network mounted into the guest. This means the guest needs to have the sshfs client software installed inside. CoreOS doesn't have sshfs installed inside of it so I may try to investigate if there is a way to get it to work running from a container.

So since we are moun

[2016-03-16 08:51] Ziemowit commented on #6
Thanks. Everything is clear now :)

[2016-03-16 08:52] #6 closed

[2016-03-16 08:59] dustymabe opened #8 "[RFE] Investigate support for container hosts (CoreOS/Atomic Host)"
Since you can't install sshfs into a static host like CoreOS or Atomic Host we should investigate using alternate means (perhaps a container) to perform the mount.

[2016-03-16 09:45] tisba commented on #7
In https://github.com/fabiokr/vagrant-sshfs/issues/40#issuecomment-196824398 I already described the issue for us.

We have a setup, where we require decent file system performance for the applications that run in vagrant guest. The only viable solution we found to be working, was to have the host mounting a volume from the guest, so that the guest can work locally on the files.

I'm totally +1 on

[2016-03-21 00:41] dustymabe opened #9 "Error when using ssh forwarding on windows with cygwin"
When using ssh forwarding on windows (i.e. a password is not provided by the user) I end up with an error:

[code]

The interesting part is the `stdin: is not a tty`. When using a password this is not an issue most likely because the password is piped in to the sshfs command (solving the problem of the tty).

[2016-03-25 18:41] riebling opened #10 "Clarify documentation"
Hey, first let me just say this plugin seems like a miracle solution to problems we've had configuring shared folders for a Vagrant VM running on AWS. (nfs proved impossible to get working cleanly, and rsync provided only 1-way synchronization) However, I'm not sure I understand correctly certain parts of the README, based on how they are presented, so maybe they could be enhanced.

 * zero, where

[2016-03-25 20:08] riebling commented on #10
So sorry for writing so much. But I think I understand now, and here was the basic problem. The documentation here assumes that you have a virtual machine that already exists, and by logging into that VM, you are able to get copy key data into authorized_keys on the local host.  Of course by configuring these things manually first, you can then achieve fully automated "vagrant up" without any need

[2016-03-26 17:41] dustymabe opened #11 "Investigate sshfs slave mode (no need for authentication)"
In https://github.com/libfuse/sshfs/commit/b3af91b123af607611fed00a3cc801ebc639d9ff the `slave` mode was added to sshfs which basically allows sshfs to run without making an ssh connection and just accepting input from stdin and sending output to stdout. This means that you can run reverse sshfs mounts without having to authenticate back to the machine initiating the connection.

An example of usi

[2016-03-26 17:52] dustymabe commented on #10
hi @riebling - thanks for the message :)

Since there was so much feedback there I am going to try to address it but I may miss parts. First off I would like to say that I am planning to implement a mode that would no longer require ssh keys or username/password at all (see https://github.com/dustymabe/vagrant-sshfs/issues/11)  so I can clean up the documentation around those items and hopefully t

[2016-03-28 15:16] riebling commented on #10
Thanks so much for responding.
I have actually gone ahead and used the DISCOURAGED prompt-for-password,
because it's exactly how we hope to allow a user to connect a remotely launched
AWS instance to their local filesystem via sshfs - by typing the password, which I
hope is more secure than storing it anywhere in a file (but of course less secure
than using ssh keys)

And it works!  So I have to a

[2016-03-29 04:20] dustymabe commented on #10
Hi @riebling..

Do you mind trying out a custom build of vagrant-sshfs that I have done with some new code for #11. With this new stuff you shouldn't need to worry about passwords or ssh keys.

First uninstall the existing vagrant-sshfs plugin that you may have
installed:

[code]

Then install a custom build that I have done:

[code]

[2016-03-29 15:24] riebling commented on #10
Sure, let me try it out. I've been refining things by developing on linux,
then deploying on OSX, and noticing some interesting differences.  ( We
want the same Vagrantfile to build systems that work with both VirtualBox
and AWS providers. )

I wanted to let you know a couple times I got errors that could not reproduce,
where the command Vagrant runs to install sshfs fails to find the sshfs debian

[2016-03-30 20:57] #11 closed

[2016-04-01 00:19] dustymabe commented on #10
@riebling hopefully I have address most of your issues in 7676951 I'm going to close this now.

[2016-04-01 00:20] dustymabe commented on #10
Closing #10 via 7676951

[2016-04-01 00:20] #10 closed

[2016-04-01 00:21] dustymabe commented on #5
Closing #5 via 8074992

[2016-04-01 00:21] #5 closed

[2016-04-01 00:23] dustymabe commented on #4
Since we are using slave mounts now as part of a579609 then we won't bother with this edge case.

[2016-04-01 00:23] #4 closed

[2016-04-01 08:10] barefootcoder commented on #7
We need this functionality as well, and I was quite surprised to find it removed.  Our use case is that we don't actually use `/vagrant` for our code, because the mounting is so slow that trying to run commands that touch lots of files (like `git` or `find` or recursive `grep`s) can take minutes instead of seconds.  So instead of using vboxsf to mount code in `/vagrant` from host-to-guest, we `git

[2016-04-01 13:49] dustymabe commented on #7
Hey @barefootcoder. thanks for the feedback. Please do continue to use version 0.0.8 of the plugin for now. I'm going to try to either find a suitable alternative for this use case or add this back as a supported mode to vagrant-sshfs.

[2016-04-01 17:02] sergii-tkachenko commented on #7
We at DoSomething.org also rely on this functionality. Here's our wiki page on how we use this functionality:
https://github.com/DoSomething/phoenix/wiki/Building-your-local-environment-(SSHFS)

[2016-04-01 19:39] dustymabe commented on #7
Hi @sergii-tkachenko.. Thanks for your feedback on this. It's good to know how many people are using it this way.

[2016-04-04 10:51] kadel opened #14 "vagrant-sshfs fails on Archlinux"
vagrant-sshfs on Archlinux as host fails:
[code]
This is probably due to fact that `sftp-server` is located in `/usr/lib/ssh/sftp-server`

[2016-04-04 16:48] #14 closed

[2016-04-06 11:39] optak opened #16 "sshfs subcommand of vagrant not listed in help"
```vagrant sshfs``` works, but ```vagrant --help``` don't know about it

[2016-04-06 14:22] optak opened #17 "traceback when using wrong path"
if I use directory on host which doesn't exists, checking Mount section crash with traceback:
vagrant-sshfs (1.1.0)
Tested on windoes 10 in cygwin.

[code]

[2016-04-06 14:36] dustymabe commented on #17
@optak, thanks for the report.

[2016-04-07 11:09] optak opened #18 "new files appear in box with about 15 s delay"
If I create file on host, I can see it in box after about 15 second (ls file), but if I want to read that file, I can immediately (cat file).
For other direction, I can see no delay.

[2016-04-07 13:25] dustymabe commented on #18
Hey @optak - so this looks like the behavior of sshfs itself. There are a lot of options that sshfs has (man sshfs) that can be used to change the level of caching etc that is done. By default I am using `noauto cache` because we'd really like things to be correct. This may be why you see the delay.

[2016-04-07 13:27] optak commented on #18
I'm not telling it's a big problem, if you can find option to lower time between sync  it would be great, otherwise I think that a note in documentation is enough.

[2016-04-12 20:14] dustymabe opened #19 "Consider setting some selinux policy."
https://www.redhat.com/archives/container-tools/2016-April/msg00034.html

user is getting selinux denial when running docker inside a vagrant machine that has an sshfs shared mount. Steps to recreate:

[code]

If fuse supported it we could do: `sshfs -o context="system_u:object_r:svirt_sandbox_file_t:s0"`. This was added in: https://github.com/libfuse/libfuse/commit/c52cafc81ced83fbd5cc7edf4ef5f7c

[2016-04-13 14:13] tnozicka commented on #19
I reported this problem to libfuse: https://github.com/libfuse/libfuse/issues/36

[2016-04-13 19:54] dustymabe opened #20 "consider mounting with guests user/group ids on filesystem"
The vbox synced folder plugin detects the user's uid and gid and then sets those options when mounting the filesystem. We should consider doing something similar.

[2016-04-14 14:06] dustymabe opened #21 "traceback when mount fails on windows"
Working with vagrant-sshfs 1.1.0 and vagrant 1.7.4 on windows. How to reproduce:

Have vagrant box already up (otherwise you will get an error from other part of vagrant):
[code]

Now add following line to your Vagrantfile
[code]

Then `vagrant sshfs`:

[code]

[2016-04-14 14:10] dustymabe commented on #21
This is because windows does not respect Process.kill("TERM", pid). It only recognizes "KILL". See https://blog.simplificator.com/2016/01/18/how-to-kill-processes-on-windows-using-ruby/

[2016-04-18 18:51] #16 closed

[2016-04-18 18:54] #21 closed

[2016-04-18 20:02] dustymabe opened #24 "sshfs slave mode doesn't work with cmd.exe/powershell"
NOTE: I had to hack around with the paths on vagrant-sshfs-1.1.0 to get this to work to begin with

The `sftp-server` process that gets kicked off on the host when running vagrant-sshfs seems to immediately get axed once the `vagrant up` or `vagrant sshfs` command exit.  This is a snippet of what it looks like:

[code]

We either need to more clearly require cygwin, or find a way to work around th

[2016-04-20 10:08] hferentschik commented on #19
So you think the plugin should do this per default? This seems wrong to me. It is needed in the specific use case of using the synced folder as Docker volumes. Being able to specify the context options as part of the folder sync creation makes sense, but I am not so sure whether the plugin should transparently set _setsebool_.

[2016-04-20 12:31] dustymabe commented on #19
we can't set the context as part of the folder sync creation because that isn't supported in any released version of fuse. I don't see setting sebool as such a bad thing in a vagrant box. vagrant boxes are typically development environments where security is already lowered to a minimum. I don't think setting this as a default would make it that much less secure.

[2016-04-20 15:56] hferentschik commented on #19
Sure, I get that

Funny, when we talked about transparently handling path conversions you argued that this is not in the "scope" of a Vagrant synced folder provider and that it should be generic etc. How does the situation differ here. Why would you consider changing SELinux setting implicitly, even though we only need it for a very specific use case? If you are using vagrant-sshfs just to mount a

[2016-04-20 16:19] dustymabe commented on #19
You are right. I think ultimately it would be good for the plugin to do this (including other plugins that use fuse as a backend), but doing it automatically is perhaps not the right thing to do. Would you like me to add this behavior but make it an option that must be set?

In the ADB we would probably not be able to use the option but would probably just need to blindly set it in the Vagrantfile

[2016-04-21 08:16] hferentschik commented on #19
+1

It might be useful, but tbh I think the best solution for now is to either configure ADB/CDK out of the box with the right SELinux settings (my preferred choice atm) or as you say do it in the _Vagrantfile_.

For now I think there is nothing to do in the plugin. Once libfuse has the right options, it should for sure be possible via the plugin as well, but I guess it would then become just a pl

[2016-04-21 13:41] adamelliottsweeting commented on #7
Like @barefootcoder, I also use this approach due to a performance hit while working on a large project with thousands of tests. The guest-to-host mount has been the best option so far. Using the standard host-to-guest mount approach causes a huge increase in test times.

Note that I keep my project configs on a host-to-guest mount (symlinked inside the box to the appropriate projects).
This provi

[2016-04-21 14:21] dustymabe commented on #7
@adamelliottsweeting thanks. I do believe that I will add this back to the plugin. Trying to find time to do add it back. Hopefully won't be too long.

[2016-04-27 02:57] Moymee commented on #24
Can I have more insight on the the vagrant issue with the powershell in windows..?

[2016-04-27 04:34] dustymabe commented on #24
hi @Moymee - for some reason in powershell/cmd.exe when we spawn off processes [here](https://github.com/dustymabe/vagrant-sshfs/blob/master/lib/vagrant-sshfs/cap/linux/sshfs_mount.rb#L160) the side effect is that as soon as the processes are spawned off they then get killed once the ruby vagrant process (i.e. the `vagrant up` or `vagrant sshfs` command) ends.

In other words it looks like daemoni

[2016-05-12 12:01] whren opened #25 "vagrant-sshfs v1.1.0 not working on windows with dos shell"
Under windows (7 in my case), I faced 2 issues in making vagrant-sshfs v1.1.0 work with a dos shell with openssh port for win32/64 (https://github.com/PowerShell/Win32-OpenSSH)

1 - PATH environment variable wrongly appended in "lib/vagrant-sshfs/synced_folder.rb#find_executable" :
	The test case for windows platform implies to be under cygwin.
	In case of dos shell we fall into the else case and

[2016-05-12 21:41] whren commented on #24
I'm quite in your context @dustymabe but I faced other issue than yours (#25) and finally get it working.

[2016-05-13 03:03] dustymabe commented on #25
Hi @whren. Thanks for looking at this. I was aware of issue 1 that you raise and had a branch in my local repo to address it but then got buried by other work.

As for issue 2 that you raise, this is interesting. I am quite interested to see if this solves #24. I certainly hope that it does, but I have my doubts that it will.

I am travelling on holiday for the rest of this week. I hope to look in

[2016-05-23 06:37] LalatenduMohanty opened #26 "SSHFS mount failed with CentOS 7 Vagrant box"
Steps to reproduce
* mkdir centos;cd centos
* vagrant init centos/7
* edit the Vagrantfile to add ` config.vm.synced_folder "./", "/home/vagrant", type: "sshfs"`
* vagrant up

[code]
* `vagrant ssh` asking password to login in to the box
[code]
I tried to use the ssh-key from `vagrant ssh`. It did not work and asked for password.

[code]

Cross checked and found that fuse-sshfs is getting installe

[2016-05-23 06:42] LalatenduMohanty commented on #26
I have the latest vagrant installed

[code]

[2016-05-23 07:07] hferentschik commented on #20
Does that also imply that the matching user and group are creates on the VM? So for example, on my machine I have `uid=501(hardy) gid=20(staff)`. What will the plugin do?

[2016-05-23 12:42] dustymabe commented on #20
I don't believe so - it means that the folders will get mounted as the user that you are connecting to the vagrant box as. This is usually the 'vagrant' user, but could be something different depending on how you set up the box.

Here is the code from the vbox plugin that does this now:
https://github.com/mitchellh/vagrant/blob/a26742fc27c609d6eebe9a6d14584809ed1f88ea/plugins/providers/virtualbox/

[2016-05-23 13:04] hferentschik commented on #20
Ahh, ok. It is the _vagrant_ user. Then it makes sense. +1 for this feature.

[2016-05-30 11:48] hferentschik commented on #20
Any ETA on this one?

[2016-06-01 13:14] dustymabe commented on #20
Hey Hardy.. I don't have one right now. I had started to work on it, but other things got pushed to the foreground so I haven't revisited.

[2016-06-01 13:15] dustymabe commented on #26
hey @LalatenduMohanty - what OS is your host machine?

[2016-06-01 13:26] LalatenduMohanty commented on #26
@dustymabe it is CentOS. I spent some time understanding the issue. I need little more time and will get back to you.

[2016-06-01 13:29] LalatenduMohanty commented on #26
Forgot to mention ADB/CDK does not have the issue.

[2016-06-02 03:20] dustymabe commented on #26
I just tried bringing up centos/7 on my f22 host with vagrant-sshfs and it seems to work fine with centos/7 `1602.02`

[2016-06-08 13:19] dustymabe commented on #26
@LalatenduMohanty - any more information to report on this?

[2016-06-13 10:41] dkutalek commented on #18
I can see similar behaviour on Mac.

On guest, I run:
tail -f /Users/dkutalek/blah.txt

On host I do:
date >> /Users/dkutalek/blah.txt

It takes about 20 seconds to see tail write out date line from host.
Other way it is immediate (1 second or less).

When looking into man page, it seems noauto_cache is FUSE option
and there is also SSHFS option cache_timeout defaulting to 20s,
which is about what

[2016-06-15 19:55] alexeykazakov opened #27 "Error stream is never closed"
In devstudio we do "vagrant up" for cdk2.1-rc3/cdk/components/rhel/rhel-ose Vagrant file with vagrant-sshfs plugin installed.
Then we read output and error streams. Output stream is terminated eventually but error stream is always open. We do read "Warning: Permanently added '[127.0.0.1]:2222' (ECDSA) to the list of known hosts." from the error stream which looks like came from sshfs plugin.
devst

[2016-06-15 19:57] alexeykazakov commented on #27
This is a blocker for devstudio - https://issues.jboss.org/browse/JBIDE-22604

[2016-06-15 20:07] jeffmaury commented on #27
We launch "vagrant up --no-color through the Java runtime. Then we launched 2 threads that read the output and error streams for the launched process and terminate when the streams are closed. Those 2 threads never stopped when the process object representing the vagrant process in the Java runtime return the exit code so vagrant process has stopped

[2016-06-15 20:17] LalatenduMohanty commented on #27
@alexeykazakov can you please put steps to reproduce?

[2016-06-15 20:24] jeffmaury commented on #27
@LalatenduMohanty If you look at the JIRA there is a link to a Java prog that will launch the CDK the same way DevStudio does. If fails starting from RC2

[2016-06-15 20:28] alexeykazakov commented on #27
Yes the easiest way to reproduce is to use @jeffmaury's java prog: https://gist.github.com/jeffmaury/ba61c91fe910220585e9893540ccec7d

Args are:
/usr/bin/vagrant        /<path_to_cdk_rc2_or_rc3>/cdk/components/rhel/rhel-ose       username@redhat.com         password

The program is never ended. It's wait for error thread die.

[2016-06-15 20:33] robstryker commented on #27
#version stuff
vagrant version | head -n 2
vboxmanage --version

# get pre-reqs
wget http://cdk-builds.usersys.redhat.com/builds/weekly/14-Jun-2016.rc3/cdk.zip
unzip cdk.zip
wget http://cdk-builds.usersys.redhat.com/builds/weekly/14-Jun-2016.rc3/rhel-cdk-kubernetes-7.2-25.x86_64.vagrant-virtualbox.box

# get and compile test java class
curl https://gist.githubusercontent.com/jeffmaury/ba61c91fe910

[2016-06-15 20:34] robstryker commented on #27
Here are the versions i can replicate on, but 2 others have replicated nad I can't speak for their versions.

[rob@rawbdor 20160614]$ vagrant version | head -n 2
Installed Version: 1.7.2
Latest Version: 1.8.4
[rob@rawbdor 20160614]$ vboxmanage --version
4.3.36r105129

[2016-06-15 21:17] LalatenduMohanty commented on #27
I could reproduce the issue :(

[2016-06-15 22:40] #27 closed

[2016-06-15 22:44] dustymabe opened #29 "Log STDERR to useful location"
In 7c8285c / #28 we started redirecting the STDERR stream to a temporary file. Let's go back and appropriately send the STDERR output to a predictable file location and also possibly print out the contents of these files once an error with the mount is detected.

[2016-06-16 06:29] praveenkumar opened #30 "Minor release for vagrant-sshfs"
Can we do a minor release `1.1.1` for vagrant-sshfs, It has been a long time we had any release and some patches are already merged which have improvement from `1.1.0` release so I think it's better to do a minor release and include all those improvements.

[2016-06-16 08:29] LalatenduMohanty commented on #27
Looks like the fix is not working fro @jeffmaury on Windows 10

[2016-06-16 10:18] hferentschik commented on #29
+1

[2016-06-16 12:55] hferentschik commented on #27
For what it's worth. I does not look like that the error threadd/io is the (only) problem. The stdout thread hangs as well. I tried with various process group flags to _spawn_ as well as trying to flush the streams on the Ruby side. So far no success.

[2016-06-16 21:40] hferentschik commented on #27
The problem comes in when you read the IO via threads. The input stream is blocked on a read. If I change the Java code to redirect the in- and output to a file as described in this post - http://java-monitor.com/forum/showthread.php?t=4067 - it works fine. This is probably not a solution suitable for us, since I cannot display the content of the executed command as it occurs, but it shows that it

[2016-06-16 21:48] alexeykazakov commented on #27
From #cdk in IRC:

So, it looks like a bug in the Ruby code or somewhere else upstream. We could probably work around it somehow in the java code on devstudio but it will make sense only if we can't solve it in a lower level.

[2016-06-16 21:49] alexeykazakov commented on #27
Shouldn't we re-open this issue?

[2016-06-17 07:09] jeffmaury commented on #27
Yes, I think so. Working on a simple use case

[2016-06-17 08:57] hferentschik commented on #27
It might be a windows thing and how it handles files, pipes, etc. It seems like the parent process cannot exit while this pipe created to connected the two spawned processes exist. Maybe this is just a limitation/feature of Windows. Unfortunately, I keep drawing blanks when trying to search for this type of issue.

From the Ruby side? This was my plan as well. Just a simple Ruby script which spawn

[2016-06-17 08:59] hferentschik commented on #27
I suggest we open a new one.

[2016-06-17 12:00] hferentschik commented on #27
It is even worse than I thought. This issue can be re-produced with a single spawn as well:

    p1 = spawn('ruby', 'loop.rb', 'p1', [:out, :err] => ['process.log', "w"],  :new_pgroup => true)

For a full working example see this gist - https://gist.github.com/hferentschik/f94a13a81f2f6e1be3e48d9c59e302c3

You can run `ruby spawner.rb` which will spawn another Ruby program (loop.rb) which will jus

[2016-06-17 12:03] jeffmaury commented on #27
There is a SubProcess gem that seems to use Win32 API CreateProcess. Maybe worth trying

[2016-06-17 12:31] hferentschik commented on #27
@jeffmaury I have investigated several process generation gems (I have the same issue with the Landrush plugin). They all broke down somewhere. In case you mean this gem - https://github.com/stripe/subprocess -, then I don't think it works. AFAICT it is based on fork.

There is https://github.com/djberg96/win32-process/ which indeed makes win32 API calls. I am pretty sure I looked at this gem befo

[2016-06-17 13:24] dustymabe commented on #27
TBH - The only thing I know for sure is that vagrant-sshfs works reliably when run in a cygwin terminal. Can you execute all of your tests from within a cygwin terminal (if that even makes sense) and let us know the difference in the results?

[2016-06-17 13:29] jeffmaury commented on #27
No I meant childprocess because it's the one used by vagrant

Jeff
Le 17 juin 2016 14:32, "Hardy Ferentschik" <notifications@github.com> a
écrit :

[2016-06-17 14:10] hferentschik commented on #27
@jeffmaury childprocess is not working. This is the first thing I tried ways back - https://github.com/jarib/childprocess/issues/99

[2016-06-17 14:44] hferentschik commented on #27
Same problem

[2016-06-17 14:49] dustymabe commented on #27
got ya - for posterity hardy asked a question on stackoverflow here:

http://stackoverflow.com/questions/37881385/spawned-ruby-process-on-windows-dies-when-shell-is-terminated

[2016-06-17 18:27] hferentschik commented on #27
The win32-process gem seems to be the solution. I tried it with the test setup (see gist) and it worked using the shell (I could close it and the process kept running) and it worked with the Java launcher as well. For all I can tell Ruby's impl of the _spawn_ method must be doing something wrong and the way to do it is via native win31 api calls. Now we need to change the code for vagrant-sshfs an

[2016-06-20 08:05] hferentschik opened #31 "Switch to win32-process for creating sub processes on Windows"
Following up on issue #27

[2016-06-21 13:41] naina-verma opened #32 "lib/vagrant-sshfs/cap/linux/sshfs_mount.rb:in `spawn': No such file or directory"
@dustymabe  , I am trying to do vagrant up on my windows 10 Pro machine and using cmd.exe for this, It throws lib/vagrant-sshfs/cap/linux/sshfs_mount.rb:142:in `spawn': No such file or directory
Link to complete logs (https://gist.github.com/naina-verma/73297d18e8d1fa7cb5b1984d16ceb948)

I have tried this same Vagrantfile with cygwin setup it works like a charm but its not working with powershell

[2016-07-14 12:43] hferentschik opened #35 "Detection of sftp-server is not always working"
_synced_folder.rb_ does something like this to add the _sftp-server.exe_ executable to the PATH:

    cygwin_root = Vagrant::Util::Platform.cygwin_windows_path('/')
    ENV['PATH'] += ';' + cygwin_root + '\usr\sbin'

This does not always seem to work. I am getting:

    The 'sftp-server' executable file can't be found on the host machine but
    is required for sshfs mounting to work. Please insta

[2016-07-14 12:46] dustymabe commented on #35
See https://github.com/dustymabe/vagrant-sshfs/pull/34 - does that solve this problem? That being said we can't be mind readers so we ultimately don't know where someone installed cygwin unless they are running under a cygwin terminal.

[2016-07-14 12:48] dustymabe commented on #35
rebase your PR on latest upstream master to pull in this change

[2016-07-19 16:19] dustymabe commented on #35
I'm going to close this since #34 and bd62fd2 is in. Please re-open if that doesn't solve the problem

[2016-07-19 16:19] #35 closed

[2016-07-19 16:20] dustymabe commented on #26
hey @LalatenduMohanty - can you add more information or close this issue if you can't reproduce.

[2016-07-19 16:26] dustymabe commented on #18
@dkutalek yeah I think these are all settings of sshfs. @optak you can change these settings if you'd like by using `sshfs_opts_append` as described in https://github.com/dustymabe/vagrant-sshfs#generic-options

should we close this issue?

[2016-07-19 17:18] optak commented on #18
@dustymabe I think taht it may confuse many users. I would like to do one of these things before closing:
1) mention this behaviour in doc (explicitely that there is 20s default timeout, which mean that files will appear with delay)
2) lower timeout by default to such short time that users can hardly spot the delay, I would say <= 3s
3) disable caching in sshfs

Option 2 and 3 can have impact to p

[2016-07-20 19:43] dustymabe commented on #31
fixed in #33

[2016-07-20 19:43] #31 closed

[2016-07-20 19:46] dustymabe commented on #26
Closing this. Feel free to re-open if the issue presents itself again and you have more information.

[2016-07-20 19:46] #26 closed

[2016-07-28 18:40] #29 closed

[2016-07-28 19:05] #7 closed

[2016-07-28 19:27] dustymabe commented on #17
hey @optak - can you try testing out vagrant-sshfs-1.1.0.dev.gem to see if you still have this issue? I tried but I think everything is working as expected (see output at bottom).

here is how to test:
[code]

here is what I see now:

[code]

[2016-07-28 19:28] dustymabe commented on #32
hey @naina-verma - can you test this out with the latest pre-release to see if you are still having issues?

here is how to test:
[code]

[2016-07-28 19:30] dustymabe commented on #25
hey @whren i have a new pre-release of vagrant-sshfs out which I think addresses at least one of your issues. Can you test it out to see:

here is how to test:
[code]

[2016-07-28 19:32] dustymabe commented on #24
I think this is solved now that we are using win32-process. Added in #33 - 3b81711

[2016-07-28 19:32] #24 closed

[2016-07-28 19:34] dustymabe commented on #9
We don't use ssh forwarding at all anymore since we added slave mount mode in #13 - a579609. Closing this.

[2016-07-28 19:34] #9 closed

[2016-07-28 21:31] dustymabe commented on #7
Hello @tisba @barefootcoder @sergii-tkachenko @adamelliottsweeting. The code for this has been merged. Would you please test out the latest pre-release to see if it works for you?

here is how to test:
[code]

[2016-07-28 21:38] dustymabe commented on #18
hey @optak, for now I am going to document this in the FAQ. If we want to set this option in the ADB then we do it at that level if that is ok.

[2016-07-29 07:13] naina-verma commented on #32
Sure @dustymabe , i will give it a try

[2016-07-29 11:24] naina-verma commented on #32
@dustymabe ,
I have tested those changes it works fine on cygwin,cmd but with powershell there is an issue with 1.7.4,1.8.4 and 1.8.5 vagrant versions.
Its not working with any of one vagrant version on powershell.Otherwise it works fine

`C:\Users\cdk\XYZ\cdk\cdk\components\rhel\misc\hyperv\rhel-ose-hyperv>vagrant status
Unable to load the EventMachine C extension; To use the pure-ruby reactor, r

[2016-07-29 12:35] tisba commented on #7
Thats great, thanks @dustymabe!

In the meantime we completely switched away from using sshfs and we are now on NFS again which works kind of okay after some tuning. I'd like to give the dev release a test, but I cannot promise to do that soonish :-/

[2016-07-29 12:37] naina-verma commented on #32
@dustymabe ,
I tested it with landrush (1.1.0.beta.3), and it works fine.
The above problem was due to older version of landrush installed on test machine

[2016-07-29 14:02] dustymabe commented on #7
@tisba hopefully we can win you back over

[2016-07-29 14:04] dustymabe commented on #32
@naina-verma thanks - I'm going to close this as fixed.

[2016-07-29 14:04] #32 closed

[2016-08-01 07:57] hferentschik opened #40 "vagrant-ssh aborts VM provisioning in case mount fails"
In _[sshfs_forward_mount.rb](https://github.com/dustymabe/vagrant-sshfs/blob/master/lib/vagrant-sshfs/cap/guest/linux/sshfs_forward_mount.rb#L212)_ an exception is raised in case the mount fails. This will abort the Vagrant boot of the VM as well.

[code]

I am wondering whether raising an exception is the right option here. Would it not be better to log an error and continue?

[2016-08-01 07:58] hferentschik opened #41 "Java process executing 'vagrant up' on Windows unable to terminate when streaming stdout and stderr to console"
This is a follow up to issue #31. Before switching to win32-process the sftp-server and ssh commands would terminate one the executing Java process was forcefully terminated. This is not happening anymore. However, the thread streaming stdout and stderr still does not terminate and waits on a lock indefinitely.

[2016-08-01 08:08] hferentschik commented on #41
Here is a Java class to re-produce the issue:

    import java.io.*;
    import java.util.Map;

    class StreamGobbler extends Thread {
        InputStream is;
        String type;

        StreamGobbler(InputStream is, String type) {
            this.is = is;
            this.type = type;
        }

        public void run() {
            try {
                InputStreamReader isr = new InputSt

[2016-08-01 13:19] dustymabe commented on #40
Most of the other shared folder implementations do it this way so I chose to do the same.

[2016-08-01 13:29] #18 closed

[2016-08-01 13:54] hferentschik commented on #40
hmm, not sure about this. At least I'd make it configurable. In our particular use case, I for sure would like to have the VM around even if the folder mount failed. Helps potentially as well to track down problems.

[2016-08-02 06:59] dustymabe commented on #40
The VM is still there (at least on libvirt provider) it just stops the later stuff from happening:

[code]

[2016-08-02 07:31] hferentschik commented on #40
Sure, the VM is still running. The moment the plugins kick in, the VM is usually up and running. I adjusted the issue title. Still, I prefer the behavior where provisioning continues. However, if you say other sync folder alternatives also abort provisioning, I can buy into the consistency behavior.

A config option might still be nice though.

[2016-08-05 11:46] dustymabe commented on #41
ok - so after reading way more than I ever wanted to about the way windows handles process creation, I now understand the problem.

We are passing in filehandles to the call to createprocess (https://github.com/dustymabe/vagrant-sshfs/blob/18f1edfc3d0e02558bd23307f6d2bda2b4d3660d/lib/vagrant-sshfs/cap/guest/linux/sshfs_forward_mount.rb#L182). On windows, if no filehandle is passed then no files ge

[2016-08-05 13:17] cgwalters opened #44 "mount checking doesn't handle symlinks"
On Atomic Host (ostree), `/home -> /var/home`.  This causes the scraping of `/proc/mounts` (which has the path canonicalized via `/sbin/mount`) to fail to match.

Ultimately, what we really want to do is monitor the health of the `sshfs` process, and also get a "ready" notification from it.  I think it might work to use a systemd unit `Type=forking`, since FUSE servers normally daemonize after suc

[2016-08-08 17:07] #41 closed

[2016-08-09 13:05] dustymabe commented on #30
Just released 1.2.0 yesterday https://github.com/dustymabe/vagrant-sshfs/releases/tag/v1.2.0

[2016-08-09 13:06] #30 closed

[2016-08-09 13:06] dustymabe commented on #25
New release is out. Can you try against 1.2.0?
https://github.com/dustymabe/vagrant-sshfs/releases/tag/v1.2.0

[2016-08-09 13:07] dustymabe commented on #17
@optak can you try against the latest version (1.2.0)?

[2016-08-09 13:13] dustymabe commented on #44
hey @cgwalters - i'll take a look at list and get back to you. Sorry about the delay.

[2016-08-11 06:26] todiadiyatmo opened #45 "working with scoop openssh"
Hi !
I tried use the sshfs using cygwin and workgreat, i tried use scoop but it wont mount, any idea ?

Regards,
Todi !

[2016-08-11 06:27] todiadiyatmo commented on #45
https://github.com/lukesampson/scoop

^^ this one i mean, it is a package manager installer

[2016-08-18 20:48] Nitrodist opened #46 "Reverse mounting doesn't work in Mac OS X?"
Hey, I'm a "1%" user who wants to mount a directory from the guest OS onto my host machine so I can use a text editor on the host OS to edit the files that exist on the machine.

I'm running El Capitan (10.11.6) with Vagrant 1.8.5, and VirtualBox 5.0.20.

The specific error I get is this:

[code]

The line in my Vagrant file is this:

[code]

I poked around in the code and I noticed that the `host

[2016-08-18 22:30] dustymabe commented on #46
Hi @Nitrodist. TBH I didn't have a mac to test this on so I didn't add support for MAC initially. I assume you have installed some version of sshfs on your mac. Is that correct? Can you link me to the version you installed?

[2016-08-18 22:44] dustymabe commented on #45
hi @todiadiyatmo - what exactly did you install using scoop? openssh or sshfs? Can you share your sshfs lines from your Vagrantfile?

[2016-08-19 13:42] Nitrodist commented on #46
[code]

[2016-08-19 13:47] dustymabe commented on #46
@Nitrodist thanks - I'll try to grab a mac system and pull this in to the next release. It shouldn't be hard to do at all.

[2016-08-22 15:43] cgwalters commented on #8
FWIW you now can `rpm-ostree pkg-add fuse-sshfs`, that's what I'd recommend.

[2016-08-22 15:45] cgwalters opened #47 "set up after reboots"
If I reboot my box out of band of vagrant (e.g. `rpm-ostree upgrade -r`), sshfs doesn't get set up again.  I think we should look at installing a systemd unit file.

[2016-08-22 15:53] dustymabe commented on #47
So the only problem with this is the fact that by default we are using sshfs "slave mounts" so that we actually do some of the setup for this on the host, outside of the guest. A good explanation of this is in the commit message https://github.com/dustymabe/vagrant-sshfs/commit/a57960972764134d97db0438cfaa9e3a2e31eb2c, it allows us to not have to set up authentication back into the host machine or

[2016-08-28 09:13] lukasz18dg opened #48 "Readme.md dead link + question."
Hey,
First, the file README.md link is dead, and more specifically in the sentence
"Sftp-server is usually we provided to the SSH server software so it already exists on Linux / Mac. On Windows you only need to install openssh via cygwin and you will get sftp-server."
Link with openssh leads to the "Error: could not open file: x86_64 / openssh / openssh-7.2p1-1".

Therefore, I have a question, I t

[2016-08-28 15:04] dustymabe commented on #48
The link is dead because they updated the version to [7.2p2-1](https://cygwin.com/cgi-bin2/package-cat.cgi?file=x86_64%2Fopenssh%2Fopenssh-7.2p2-1&grep=openssh). I'll get  that fixed.

When installing packages from cygwin you should be able to select and install openssh using the cygwin installer. Here is a guide that shows you how to install openssh using cygwin: [link](http://docs.oracle.com/cd/

[2016-08-29 19:32] dustymabe commented on #48
@lukasz18dg - any update?

[2016-08-30 20:32] lukasz18dg commented on #48
Hi, sorry for the lack of checking if the answer given to work with me, but I'm a little busy with other matters. I promise by the end of this week to check and respond, if it worked me. :)

[2016-08-31 21:09] dustymabe commented on #47
@cgwalters - does my explanation above help describe the complexity involved?

[2016-08-31 21:11] dustymabe commented on #45
ping @todiadiyatmo

[2016-09-03 17:00] lukasz18dg commented on #48
I installed once, I failed. Is there another tool that allows me to use this plugin? What a tool, which posted in the first post?

[2016-09-03 20:52] dgolovin commented on #48
After cygwin is installed with openssh package you ether should add cygwin/bin folder to your user environment PATH variable, then start new windows cmd instance (so new PATH variable value is picked up) or run cygwin bash, then try to install vagrant plugin again.

[2016-09-13 14:50] dustymabe commented on #48
@lukasz18dg can you try the suggestions from @dgolovin ?

[2016-09-24 12:56] lukasz18dg commented on #48
@dustymabe - I tried, but probably something spoiled during setup and did not work. Ideally I would have missed installations "Cygwin" I wonder why it does not work correctly for the second program, which posted one in the first post.

[2016-10-05 12:40] budhrg opened #49 "Unable to mount if there is space in the folder in between to the path of Vagrantfile"
Hi,

We recently ran into this issue where I tried to use `vagrant-sshfs` for mounting where my vagrantfile was located in a place which contain space in one of folder.

**Steps to reproduce**
- `mkdir -p "$HOME/test mount/sshfs"`
- `cd "$HOME/test mount/sshfs"`
- Copy [Openshift Vagrantfile](https://github.com/projectatomic/adb-atomic-developer-bundle/blob/master/components/rhel/rhel-ose/Vagrantf

[2016-10-05 15:16] dustymabe commented on #49
hey @budhrg can you try this dev  build? https://dustymabe.fedorapeople.org/vagrant-sshfs-100.dev.gem

[2016-10-06 07:47] budhrg commented on #49
@dustymabe , This dev build seems to be working :+1:

[2016-10-06 17:21] #49 closed

[2016-10-18 14:15] RickJWagner opened #52 "'vagrant up' fails with '`windows_uninherit_handle': The parameter is incorrect. - SetHandleInformation (SystemCallError)'"
A user is reporting this issue:

[code]

[2016-10-18 14:15] RickJWagner commented on #52
Asking the user for more environmental information now.

[2016-10-20 12:31] dustymabe commented on #52
hey @RickJWagner - any more info from the user? Would like to be able to recreate this so that I can better understand the problem and also verify it is fixed when I make changes to the code.

[2016-10-20 13:19] RickJWagner commented on #52
Hi Dusty,
Nothing yet.  I've left myself a note on the support case, when the user tells us more I'll update this tracker.

[2016-10-31 22:30] dantheman213 commented on #46
Did this ever get resolved? I'm also experiencing a similar error.

[2016-11-01 12:58] dustymabe commented on #46
@dantheman213 - not yet, still need to get my hands on a mac. I had access to one in the past but not now. Will try to get around to this soon.

[2016-11-01 18:44] dantheman213 commented on #46
@dustymabe they're relatively easy to virtualize nowadays. Check this out? https://techsviewer.com/how-to-install-mac-os-x-el-capitan-on-vmware-on-pc/

[2016-11-02 09:05] Joseph-Watkins commented on #52
Hi, I've just had exactly the same issue. Windows 7 64 bit. What other env info do you need?

[2016-11-06 01:59] dustymabe commented on #52
hey @Joseph-Watkins. Sorry I didn't respond sooner. I was traveling.

Any information would help. What Vagrantfile are you using? What shell are you using (cygwin, powershell, etc..)? Can you reproduce this reliably? Can you try to help me reproduce?

[2016-11-07 20:47] Joseph-Watkins commented on #52
Ah, np. I'm using the Red Hat cdk 2.2 download (http://developers.redhat.com/products/cdk/download/ ) and the vagrant file included with that. Have tried from cygwin and windows cmd shell, with same result. Happens every time. The zip install includes vagrant-sshfs-1.2.0.gem

[2016-11-10 03:15] neerolyte commented on #46
I'd like to be able to do this to.

With https://github.com/osxfuse/osxfuse/wiki/SSHFS + https://osxfuse.github.io/ I'm able to manually do:
[code]

and unmount with:

[code]

I think aside from some of the `-o` options that should be pretty similar to linux?

[2016-11-10 05:36] praveenkumar opened #53 "New minor release for plugin"
Looks like from master to last release there are some documents migration and few bugs fixes happen. @dustymabe Can you do a minor release for the plugin?

[2016-11-10 08:47] nicobrevin commented on #20
@dustymabe do you have any code worth sharing?  I might be able to finish it off for you.  I was wondering where the best place would be for the uidmap and gidmap files, and the best way to get them on to the host, especially in the case that you're sharing your project dir with type sshfs

[2016-11-10 15:14] dustymabe commented on #53
I'll try to get one out tomorrow and comment back here. If I don't get to it, the previous version should suffice as it's only a few commits difference (mostly docs).

[2016-11-11 10:20] praveenkumar commented on #53
@dustymabe we actually care for https://github.com/dustymabe/vagrant-sshfs/pull/50 which was after previous release.

[2016-11-11 13:30] hashkool opened #54 "Empty sshfs-folders after vagrant resume"
Currently, when I do `vagrant suspend` and `vagrant resume` the sshfs-mountpoints are reportedly mounted, but the files from those mounts are not available. The only way I can work with vagrant-sshfs right now is to `vagrant halt` and `vagrant up` a machine.

Example snippet from my Vagrant-file

    control.vm.provision :shell, path: "provision.sh"
    control.vm.synced_folder ".", "/vagrant",

[2016-11-11 13:44] dustymabe commented on #54
hey @hashkool, thanks for the report. I don't use `vagrant suspend` and `vagrant resume` so I haven't hit this issue before. I'm not sure if this "should" work or not, it will take some thought.

In the mean time after you `resume` you should be able to `vagrant sshfs --unmount` and then `vagrant sshfs --mount` without having to `halt/up`.

[2016-11-11 14:02] hashkool commented on #54
Thanks for your swift reply. I expect it is a "should" , since the vanilla virtualbox folder share mount is preserved under `suspend / resume`. It was part of my workflow, but that workflow is broken with sshfs.

I would love if sshfs would work like the other file sharing mechanisms for virtualbox. In the mean time I will try your `unmount / mount` trick.

[2016-11-11 14:04] dustymabe commented on #54
let me know if it works

[2016-11-11 14:30] dustymabe commented on #54
That is actually not bad. It just means that you can skip the unmount. So just try `vagrant sshfs --mount` by itself.

[2016-11-11 14:41] hashkool commented on #54
Yes, that works, thanks!

[2016-11-11 15:41] bcah commented on #46
@dustymabe, we are also part of the 1%, this functionality would help us immensely.

[2016-11-11 17:03] dustymabe commented on #53
New release is out - see https://github.com/dustymabe/vagrant-sshfs/releases/tag/v1.2.1

[2016-11-11 17:03] #53 closed

[2016-11-11 21:36] #46 closed

[2016-11-11 21:37] dustymabe commented on #47
?

[2016-11-11 21:41] dustymabe commented on #25
hey @whren - can you test this with the new releases and see if your problem is fixed?

[2016-11-11 21:41] dustymabe commented on #17
@optak ^^

[2016-11-11 21:43] dustymabe commented on #45
ping @todiadiyatmo

[2016-11-11 21:45] dustymabe commented on #20
@nicobrevin I don't have anything on this right now.

[2016-11-11 22:48] dantheman213 commented on #46
https://media.giphy.com/media/13pge2TFoz4kN2/giphy.gif

[2016-11-12 13:14] cgwalters commented on #47
Yeah, no worries.  I've trained myself mostly to do `vagrant halt; vagrant up` anyways.  I could probably switch to `vagrant sshfs && vagrant ssh`.  Will try that.

[2016-11-12 15:33] #47 closed

[2016-11-12 15:43] dustymabe commented on #17
I think this is no longer an issue. If you find it is please re-open.

[2016-11-12 15:43] #17 closed

[2016-11-12 16:16] dustymabe commented on #45
closing this as I haven't heard back and the problem is not very well defined.

[2016-11-12 16:16] #45 closed

[2016-11-12 16:36] #44 closed

[2016-11-12 18:56] dustymabe commented on #52
hey @Joseph-Watkins can you please try the following and tell me if it works for you now:

- download the file at https://dustymabe.fedorapeople.org/vagrant-sshfs-1.2.1.a7d8a89.gem
- `vagrant plugin uninstall vagrant-sshfs`
- `vagrant plugin install ./vagrant-sshfs-1.2.1.a7d8a89.gem`
- test to see if your problem is fixed

[2016-11-12 18:57] dustymabe commented on #46
hey everyone can you try the following and tell me if your problem is fixed?

- download the file at https://dustymabe.fedorapeople.org/vagrant-sshfs-1.2.1.a7d8a89.gem
- `vagrant plugin uninstall vagrant-sshfs`
- `vagrant plugin install ./vagrant-sshfs-1.2.1.a7d8a89.gem`
- test to see if your problem is fixed

[2016-11-12 23:08] dantheman213 commented on #46
Just to be clear, this will enable my vagrant install to mount a folder between host/guest while preserving the files/folders in the guest at the target mount path?

I went through a significant workaround for my vagrant box to place all my server configs on the host machine and mount them down to the guest.

[2016-11-13 00:46] dustymabe commented on #46
Yes. The files live on the guest and get mounted into the host so they can be accessible there. If you `vagrant destroy` the VM, the files will be destroyed as well.

[2016-11-13 20:47] Joseph-Watkins commented on #52
Hi, thanks. no not fixed, but maybe more info, now get:

==> default: Configuring and enabling network interfaces...
==> default: Copying TLS certificates to C:/Joe/Installs/Work/RedHat_cdk/components/rhel/rhel-ose/.vagrant/machines/defau
lt/virtualbox/docker
The following SSH command responded with a non-zero exit status.
Vagrant assumes that this means the command failed!
readlink -f /c/Users/jo

[2016-11-13 22:30] dustymabe commented on #52
hey @Joseph-Watkins turns out there was an issue I introduced in a recent commit that was unrelated to this fix. Try out this new dev version please:

- download the file at https://dustymabe.fedorapeople.org/vagrant-sshfs-1.2.1.b3eae35.gem
- `vagrant plugin uninstall vagrant-sshfs`
- `vagrant plugin install ./vagrant-sshfs-1.2.1.b3eae35.gem`
- test to see if your problem is fixed

[2016-11-13 22:31] dustymabe commented on #46
hey everyone, here is a new dev version to try. The other one had a bug in it (unrelated to this issue):

- download the file at https://dustymabe.fedorapeople.org/vagrant-sshfs-1.2.1.b3eae35.gem
- `vagrant plugin uninstall vagrant-sshfs`
- `vagrant plugin install ./vagrant-sshfs-1.2.1.b3eae35.gem`
- test to see if your problem is fixed

[2016-11-13 23:00] dantheman213 commented on #46
I'll check this out tomorrow. Thanks again!

[2016-11-14 17:17] lanej commented on #46
Working for me @dustymabe. Thanks!

[2016-11-14 17:22] Joseph-Watkins commented on #52
Hi, yes, that seems to have fixed it - thanks!

[2016-11-15 00:47] neerolyte commented on #46
It mostly works, but I think without [defer_permissions](https://github.com/osxfuse/osxfuse/wiki/Mount-options#default_permissions-and-defer_permissions) set most users won't be able to edit most files - i.e if the uids don't match between the owner in the VM and the current user in OS X (and they don't do anything special to map them) they won't be able to edit them.

tldr - it only works if I ad

[2016-11-15 14:03] dustymabe commented on #46
defer_permissions doesn't seem to be in the linux version of sshfs. This looks similar to https://github.com/dustymabe/vagrant-sshfs/issues/20. Either way, you have a workaround for now.

[2016-11-21 12:49] vincenzo commented on #46
@dustymabe Are you going to make an official release with the bug fix contained in `vagrant-sshfs-1.2.1.b3eae35.gem`?

[2016-11-21 12:50] vincenzo commented on #46
I am not using `defer_permissions`, btw (I am on Mac), but these:

[code]

[2016-11-21 14:08] dustymabe commented on #46
@vincenzo, yes. I plan to do that soon

[2016-11-21 14:08] vincenzo commented on #46
Cheers, @dustymabe.

[2016-11-26 15:07] dustymabe commented on #52
Fixed in fe4fcd5 that was a part of #57

[2016-11-26 15:07] #52 closed

[2016-11-26 15:09] dustymabe commented on #52
Note that the fix here is to not error, but warn, if there is an error when setting a file handle to uninheritable. Hopefully this will take care of the problem, but if it does not we will have more verbose output that can be used to diagnose.

[2016-11-28 22:05] riebling opened #58 "sshfs install fails on AWS EC2 Ubuntu 16.04 server cloud image"
Hey, this works fine for Ubuntu 14.04, but when I just tried bringing up a VM
that uses sshfs on a 16.04 AMI, I get this error and 'vagrant up' stops:
[code]
This might not be your fault though! There is another mysterious error I see as well... a check for python returns false, even though python IS THERE.  I'll come back here with what I discover, but for now just wanted to note this in case any

[2016-11-28 23:43] dustymabe commented on #58
@riebling, thanks for the report. I look forward to seeing what you find.

[2016-11-29 18:44] cuviper opened #59 "Arbitrary host reports missing path on `vagrant up`"
I have a config line something like this:

    config.vm.synced_folder "/path/on/other/host", "/path/on/guest", type: "sshfs", ssh_host: "other.host"

When I run `vagrant up`, I get:

[code]

That path doesn't exist on the local host, only on the remote server that I'm trying to link up.

If I edit the config so this mount is disabled, I can start up; then I re-enable it and run `vagrant sshfs --m

[2016-11-29 19:51] cuviper commented on #59
Looks like vagrant 1.9.0 was just released today, but it doesn't change the behavior here.

[2016-11-29 20:00] dustymabe commented on #59
hmm. so this is actually a check in vagrant that happens before this plugin is engaged. The vagrant code (outside of this plguin) assumes you are mounting a directory from your host machine into the guest as this is how all of the other synced folder plugins work. Under that assumption, this "check" would make sense.

We can try to find the code within vagrant and submit a PR to not do this and/or

[2016-11-29 20:17] cuviper commented on #59
I tried making empty paths locally to get past this, but it appears to have canonicalized the path.  This is a problem of its own, as my host is Win10 and the alt server is Linux.  It turned into `C:/path/on/other/host`, which of course won't work either.

As a kludge, I'd be ok with requiring separate `vagrant up` and `vagrant sshfs --mount` commands.  Is there something I could detect to dynamic

[2016-12-03 02:29] jjn1056 opened #60 "mount point is read only"
Hi,

I've been trying to upgrade my configuration from the old (but working) plugin to this one.  There's a host of problems but the most serious one is when I mount the guest folder onto my desktop (I'm on a Mac) everything is read only.  There's some difference in the options I guess between your new plugin and the old one that worked but I can't figure it out from looking over the source.  Here

[2016-12-03 15:34] jjn1056 commented on #46
similar issue for me... I can get my folders mounted (after rewriting all the config files) but the permissions are wrong and can't seem to get it working no matter how I mess around with the sshfs options.  There's other problems as well, like the mount point doesn't always get unmounted when I halt the VM.

[2016-12-03 16:02] jjn1056 opened #61 "Failure to unmount"
I'm on a mac using the 'reverse' option (I'm mounting a folder on the guest into the host).  Here's the problem.  If I open a file from my mounted folder, when I do 'halt' on the VM we don't properly unmount.

For example, I open a text file from the mount point into VI (running on my host).  I then do vagrant halt.  The VM shuts down and the mount seems to disappear, but there running VI process

[2016-12-03 16:17] dustymabe commented on #60
hey @jjn1056, thanks for the report. I haven't experienced this problem (read-only mounting), but would like to get it fixed for you. I don't have access to a mac system right now but I should be able to ask around and get access to one next week to try to reproduce.

Is the vagrant box you are using one that is publicly accessible? When I try to repro I'd like to use the same one.

[2016-12-03 16:23] dustymabe commented on #61
Hey @jjn1056.. I just ran through the steps and I'm not able to reproduce on Linux. I'll try to reproduce this on Mac when I get access to one this week.

Thanks for reporting this issue. You should certainly be able to halt/up without issues.

[2016-12-03 17:00] jjn1056 commented on #61
just FYI on my Mac if I manually run `killall -9 sshfs` followed by `unmount -f $target` that totally solves my 'hanging mount after halt problem.  So that code in the original plugin was pretty important for this use case.

[2016-12-03 20:03] dustymabe commented on #61
Thanks. That does look like a smoking gun.

[2016-12-03 22:49] jjn1056 commented on #60
Hey @dustymabe

OK so I do have a mac :)  And here is what I found.  If I specify the ssh_username in my Vagrantfile, it gets ignored.  So for example here is the config

    config.vm.synced_folder ENV['SSHFS_MOUNT_POINT_HOST'], ENV['SSHFS_MOUNT_POINT_GUEST'],
      ssh_username: "dev",
      disabled: false, type: "sshfs",
      reverse: true

BUT when I do VAGRANT_LOG=debug and I find the actua

[2016-12-03 23:19] jjn1056 commented on #60
@dustymabe OK so FWIW if I go to the command line and issue the command annual but I fix the ssh_username it seems to work.  So I think if we can just fix this so that the ssh_username setting is respected that should fix the problem for me.  I don't know ruby that well, but if you can give me a pointer I'll try to get you a PR.  I told my CTO i'd have this fixed by Monday, even if I have to fork

[2016-12-03 23:27] jjn1056 commented on #60
@dustymabe

So to be clear when I run this from the CLI:

/usr/local/bin/sshfs -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -o Port=2354 -o "IdentityFile="/Users/jnapiorkowski/.vagrant.d/insecure_private_key"" -o UserKnownHostsFile=/dev/null -F /dev/null -o noauto_cache vagrant@127.0.0.1:/home/dev/src/adama /Users/jnapiorkowski/src

I get a mount but because the user is wrong (vagrant not

[2016-12-04 01:12] jjn1056 commented on #60
@dustymabe

Ok so just for fun if I modify this line

https://github.com/dustymabe/vagrant-sshfs/blob/master/lib/vagrant-sshfs/cap/host/darwin/sshfs_reverse_mount.rb#L84

which is

 username = machine.ssh_info[:username]

to be

username = opts[:username]

the command for sshfs is correct in the debug log is right now and everything just works perfectly.  I'll try to work up a PR, but I imagine it

[2016-12-04 07:11] vincenzo commented on #61
On Mac, I get a different error when I try and unmount a reverse mount:

[code]

but that's not accurate, since the mount is indeed active

[code]

[2016-12-04 12:43] jjn1056 commented on #61
I wonder what lsof returns for the mounted file?

[2016-12-04 19:38] dustymabe commented on #60
hey @jjn1056, thanks for the deep investigation on this. I'm in the midst of travel this weekend so I haven't been at the computer or had a chance to think about this very much.

For the reverse mounting vagrant-sshfs just "re-uses" the information that vagrant already has in order to make the connection with the machine. i.e. it uses the same information that is used when you `vagrant ssh`. If yo

[2016-12-04 22:07] jjn1056 commented on #60
I'll give that a try and let y ou know

[2016-12-05 00:40] jjn1056 commented on #60
@dustymabe

hey so adding "config.ssh.username = 'dev'" does seem to work fine.  I'm not sure how that setting might impact other aspects of the build.  This setup was written by a 'devops expect' who consulted for the company a few months three years ago and he did some old things I don't see in a lot of the examples I come across (like for example creating  dev user for running the application c

[2016-12-07 17:52] RReverser opened #62 "Can't reverse-mount from Debian to MacOS"
When trying to change the direction of mount to get client folder in host as per example

[code]

Getting the following error:

[code]

[2016-12-07 20:02] dustymabe commented on #62
it looks like it can't find the sshfs binary as it should have `/path/to/sshfs -o`. What does `which sshfs` return?

[2016-12-07 22:28] RReverser commented on #62
@dustymabe You're right, symlinking fixed the problem, although error message is really not very obvious :) Thanks!

[2016-12-07 22:49] dustymabe commented on #62
@RReverser well it would be nice to know where `sshfs` is on your machine.. I thought we had a better error message for this but I guess we don't. We should though so feel free to re-open this.

[2016-12-07 22:57] RReverser commented on #62
Reopened with updated title.

[2016-12-12 01:49] nicobrevin commented on #20
I've got this "working" with the following patch:

[code]
This works, although it makes every file and dir appear to be owned by the vagrant user, so mostly just a cosmetic fix - i.e. same permissions apply with or without this change.  I suppose the better fix would by to supply an idmap=file and map only the vagrant user to your workstation user ... anyway.

[2016-12-13 19:13] cgwalters opened #63 "support skipping guest provisioning"
This project doesn't currently know about rpm-ostree, and the problem is that it runs before any project-specific provisioning occurs, which makes it hard to do.

Further, some users may not want to unconditionally enable EPEL for example.  So maybe something like:

[code]

[2016-12-13 19:16] dustymabe commented on #63
what would you suggest `provision: false` to do?

[2016-12-15 01:56] cgwalters commented on #63
Don't do any of the things to install packages; though what we may really need is a way to run provisioners both before and after sshfs.  That said, maybe we should just assume more boxes bake in sshfs.

[2016-12-15 02:36] dustymabe commented on #63
When the plugin runs it detects if sshfs is already installed (doesn't matter how it was installed) and doesn't try to install it again.

Let me know why this doesn't work. The only other thing I can think of that you would want is to just disable the attempt to do the mount with 'disabled: true'

[2016-12-19 11:49] mohamaa opened #64 "Windows does not support the capability 'sshfs_forward_is_folder_mounted'"
I tried using this plugin but got following error:

`
Vagrant attempted to execute the capability 'sshfs_forward_is_folder_mounted' on the detect guest OS 'windows', but the guest doesn't support that capability. This capability is required for your configuration of Vagrant. Please either reconfigure Vagrant to avoid this capability or fix the issue by creating the capability.`

[2016-12-19 15:25] dustymabe commented on #64
Looks like your vagrant guest is a windows box?

Windows does not have an ssh daemon installed by default unless you have modified the box to have it. This plugin has been targeted at sharing folders with linux guests.

[2016-12-21 15:33] jlebon opened #65 "Mount under root owned folder fails in 1.3.0"
After upgrading to 1.3.0, I get stuck at "Checking Mount.." when starting a halted machine. Full output:

[code]

This is the Vagrantfile that I'm using: https://github.com/projectatomic/rpm-ostree/blob/master/Vagrantfile (though note the `fuse-sshfs` workaround mentioned in: https://github.com/projectatomic/rpm-ostree/tree/master/vagrant).

Reverting back to 1.2.1 works.

[2016-12-21 22:49] dustymabe commented on #65
This has to do with the fact that you are trying to mount in a directory owned by root. The checks that I added recently run some commands without sudo and those checks are failing now.

I'll put in a PR soon to resolve this.

[2016-12-22 15:31] #65 closed

[2016-12-22 15:35] dustymabe commented on #64
Closing this. Unfortunately we don't support Windows guests at this time.

[2016-12-22 15:35] #64 closed

[2016-12-22 16:15] dustymabe commented on #58
@riebling what did you find?

[2017-01-04 13:36] ravn commented on #7
We have another situation where we want to be able to easily _see_ local files inside the guest to get the full benefit of the development environment in which vagrant runs.  We do not have to edit the files.  Previously we have used a shared host folder, but this mean that files run out of sync if the VM is rolled back to a snapshot (which we use a lot).

[2017-01-04 14:05] dustymabe commented on #7
@ravn - we support this in the latest release. give it a try

[2017-01-09 15:33] riebling commented on #58
The problem was specific to the particular 16.04 Ubuntu cloud image being requested, which did not support installing sshfs. I don't have the failing version with me at the moment, but an AMI that is known to work can be found by specifying parameters like the below to the [Ubuntu Cloud Image Finder](https://cloud-images.ubuntu.com/locator/)

[code]

[2017-01-09 15:33] #58 closed

[2017-01-30 13:40] mdentinho opened #67 "'Unable to fetch some archives' error while 'Installing SSHFS client'"
EDIT: Ubuntu guest only

---
Hello,

Since yesterday I‘ve been getting this error when setting up new Ubuntu ~~and Debian~~ VMs with the `vagrant-sshfs` plugin:

[code]

As the error suggested, I‘ve ssh-ed into the guest machine and ran `sudo apt-get update --fix-missing`. Then `exit`, `vagrant reload` and everything went fine:

[code]

I‘m not sure if just running `sudo apt-get update --fix-missi

[2017-01-31 03:21] dustymabe commented on #67
Hi, thanks for the report. I've been traveling the past few days. Please ping me again in a week if I haven't looked into this.

[2017-01-31 10:43] varac opened #68 "Support vagrant-lxc"
Hej,

first of all th for this awesome plugin, I was so lucky to finally remove NFS from my box !
It works great with vagrant-libvirt, but fails with vagrant-lxc:

[code]

A proper fix would be appreciated!

[2017-01-31 14:43] henning-flmnn opened #69 "hangs on windows host while booting centos guest after "Checking mount""
Hello,

I'm, trying to set up an sshfs mounted folder in a Centos 7 guest from a windows 7 host.

I configure it like this

[code]

(the first entry to disable the nonworking default mount, the second for the sshfs mount)

What I get is:

[code]

And from here ths boot hangs.
After waiting for ~10 minutes I entered CTRL-C, the machine was running, but the mountpoint exists and is empty.

Logfile v

[2017-01-31 15:02] dustymabe commented on #69
hi @henning-flmnn, can you tell me what version of vagrant-sshfs you are using? Also what terminal are you using? I typically use cygwin. We have seen issues in the past with other terminals on windows like powershell but I think those issues should be resolved as well.

[2017-01-31 16:35] henning-flmnn commented on #69
@dustymabe thanks - that already solved it! I've been using git bash(the shell provided with the git winodws installer), which I used for everything else before - and which also easily found the sftp-server.

Anyway, switching to the original cygwin Terminal solved the issue.

I added a PR with a note about this: https://github.com/dustymabe/vagrant-sshfs/pull/70

[2017-01-31 16:36] dustymabe commented on #68
hmm. so sshfs uses fuse (kernel module) and you are running a container which means you are sharing the kernel with the host. You might be able to `modprobe fuse` on the host before doing `vagrant up` and see if that works.

[2017-01-31 17:10] dustymabe commented on #69
ahh. haven't used that shell before for this. it would be good if we can support it.

@hferentschik have you tried using vagrant sshfs with the "windows bash shell" before?

[2017-01-31 17:21] henning-flmnn commented on #69
Hint @dustymabe  @hferentschik :

It's not "windows bash" it's "git bash" :)
It's a build of bash that comes with the windows package of git.

Up until today I used the git bash daily, even though for simple stuff for a while, and didnt see any provlems and differences to a bash as I'd expect it to work (apart from some stuff missing that I otherwise have on Linux).

If there's anything I can help

[2017-01-31 18:01] dustymabe commented on #69
@henning-flmnn thanks for the clarification - would be nice if that worked too. If you have access to a windows 10 machine It would be interesting to know if this worked there. It would also still be good to know if you are using the latest version of vagrant-sshfs or a previous version.

[2017-01-31 18:05] henning-flmnn commented on #69
@dustymabe Sorry, I dont have a Win 10 available.

And sorry for leaving out the plugin version info, here it comes:

[code]

[2017-01-31 19:05] dustymabe commented on #67
this works fine on `debian/jessie64`. Ubuntu doesn't make libvirt images (only vbox) and I don't have a virtualbox setup to try this on right now. Can you see if the problem happens on debian for you?

[2017-02-01 11:58] varac commented on #68
@dustymabe my kernel has fuse included, not as a module:

[code]

even trying `modprobe fuse` explictily on my host it fails the same.

[2017-02-02 10:07] mdentinho opened #71 "Debian: 'Mounting SSHFS shared folder via slave SSHFS mount failed.' error."
Hi,

When trying to `vagrant up` Debian VMs (tested with `debian/jessie64`, `debian/wheezy64` and `minimal/wheezy64`), while `Checking Mount..` is running the following error is thrown:

[code]

Cheers!

[2017-02-02 10:30] mdentinho commented on #67
Hey @dustymabe,

I‘ve tested it with `debian/jessie64` (also with `debian/wheezy64` and `minimal/wheezy64`) and this error is not happening. It actually had a different error and I opened a separated issue for it: https://github.com/dustymabe/vagrant-sshfs/issues/71

The problem above seems to be exclusive on Ubuntu, since the actual error on the messages are:
[code]

This is probably because some

[2017-02-02 14:12] dustymabe commented on #71
any chance you are using an ssh-agent with a lot of keys already added to the agent? I see this sometimes because the ssh tries to use the keys from the agent first and if you have 4 or more it can fail in this way before trying the ssh key that should be used for the box.

[2017-02-02 16:52] dustymabe commented on #67
Thanks for the info. I'll try to get a system with vbox and test ubuntu and make the relevant changes.

[2017-02-02 17:48] cgwalters commented on #63
Don't worry about this, in the end we need to include this by default in Vagrant boxes.

[2017-02-02 17:48] #63 closed

[2017-02-02 19:26] jdoss opened #72 "vagrant up vs vagrant sshfs path differences"
Using ~ in the host path will cause issues when using vagrant sshfs. Use the example Vagrant file.

[code]
If you `vagrant up` it will  expand the path:

```Mounting folder via SSHFS: /home/dustymabe => /sharedhome```

but `vagrant sshfs` will not:

```Mounting folder via SSHFS: ~/ => /sharedhome```

and it will result in a failure.

[code]

[2017-02-02 19:27] dustymabe commented on #71
workaround by running `SSH_AUTH_SOCK= vagrant up` to unset SSH_AUTH_SOCK during execution of vagrant

[2017-02-02 19:28] dustymabe commented on #68
does `/dev/fuse` exist on your host?

[2017-02-08 03:31] dustymabe commented on #71
@mdentinho ^^

[2017-02-08 03:31] dustymabe commented on #68
@varac ^^

[2017-02-08 03:39] dustymabe commented on #67
so I tested with ubuntu and did not see the issue (see output below). Is your ubuntu vagrant image up to date? I tested with the one that was built 20170202.

[code]

[2017-02-11 23:02] varac commented on #68
@dustymabe yes it does

[code]

[2017-02-12 14:27] dustymabe commented on #68
can you try to bind mount that into the container? I have no idea how to do this with vagrant-lxc, but I believe that is what needs to be done.

[2017-02-22 21:56] varac commented on #68
@dustymabe Thx for looking into this. But I didn't debug further, I'm fine with vagrant-lxc with it's default way of mounting shared folders.

[2017-02-22 21:56] #68 closed

[2017-03-03 15:55] dustymabe opened #73 "issue installing from rubygems.org on Fedora 25"
saw this when trying to install from rubygems on F25:

[code]

[2017-03-06 17:05] jjn1056 commented on #61
@dustymabe so not sure what your plan here is but this is still a huge problem for me.  I find basically I have to reboot everytime my computer goes into sleep mode since that breaks the sshfs connection, with your new version.  I don't mean to be a jerk here but you decided to rewrite a working plugin in a way that was 100% incompatible with the old, working version (and in the process busting my

[2017-03-06 17:20] dustymabe commented on #61
@jjn1056 looks like a fairy is going to bring me a mac machine this week for me to hold on to when issues like this come up. I'll take a look at this issue and try to come to a resolution.

[2017-03-06 17:30] dustymabe commented on #61
By the way, you can also easily use the old code by simply installing the earlier version: `vagrant plugin install vagrant-sshfs --plugin-version 0.0.8`

[2017-03-14 02:29] dustymabe commented on #61
hey @jjn1056 - finally got the mac up and running. I absolutely can't reproduce the issue. We need to start dissecting differences between your setup and mine.

I have:
- `Mac OS X Yosemite 10.10.5`
- `VirtualBox 4.3.32`
- `Vagrant 1.8.6`
- `osxfuse 3.5.3`
- `vagrant-sshfs (1.3.0)`

[2017-03-14 02:30] dustymabe commented on #72
hey @vincenzo I think this is the same problem as what you reported here: https://github.com/dustymabe/vagrant-sshfs/issues/61#issuecomment-264688564. Do you agree?

[2017-03-14 09:37] vincenzo commented on #72
@dustymabe It might be, if you are implying that they are both down to a failed expansion of `~`.

[2017-03-14 14:16] dustymabe commented on #72
yes, I believe that is the case.

[2017-03-16 04:36] dustymabe commented on #61
@jjn1056 - bump ^^

[2017-03-18 15:51] dustymabe commented on #61
@vincenzo can you reproduce the issue that @jjn1056 originally reported where processes on the host are holding open files from the guest and not allowing subsequent mounts to succeed?

[2017-03-20 10:46] vincenzo commented on #61
@dustymabe Nope.

[2017-03-21 18:14] dustymabe commented on #61
thanks @vincenzo. I'm going to close this.

@jjn1056, please re-open if you see the issue again and have more information to give.

[2017-03-21 18:14] #61 closed

[2017-03-28 20:54] geerlingguy commented on #59
I'm kinda stuck here too—I want to use a reverse mount, but it's seemingly impossible to do that in Windows, because if I set `disabled: true` in the config, I can't mount it with `vagrant sshfs --mount` either.

I'm also getting the error:

[code]

(This happens after I `vagrant up` with `disabled: true`, then manually change `disabled: false` and run `vagrant sshfs --mount`.)

This is on Windows

[2017-03-28 20:58] geerlingguy commented on #25
Note I'm testing on version 1.3.0 (with Vagrant 1.9.2) and am having trouble getting anything working through Cygwin.

[2017-03-28 20:58] geerlingguy commented on #25
Also, cross referencing #70.

[2017-03-28 21:01] cuviper commented on #59
I'm currently using `disabled: !ENV["SSHFS"]`, which works ok.  Start it up, set the environment, then mount.

[2017-03-28 21:09] geerlingguy commented on #59
@cuviper - Good idea! Unfortunately, I'm still getting that error above... I'm trying to do a `reverse` mount (from guest to host), and I wonder if that's some unrelated bug.

[2017-03-29 00:31] dustymabe opened #74 "Investigate adding reverse mounting support for Windows"
Similar to https://github.com/dustymabe/vagrant-sshfs/issues/46 where we have users that want to use reverse mounts on mac OS, we have [users that want to use reverse mounts on windows](https://github.com/dustymabe/vagrant-sshfs/issues/59#issuecomment-289901542). I can't remember if I didn't implement it because of time or if there was a technical reason. Need to investigate.

[2017-03-29 00:33] dustymabe commented on #59
hey @geerlingguy - I initially only supported reverse mounting on linux hosts and then someone requested that I add it for mac in  https://github.com/dustymabe/vagrant-sshfs/issues/46. I can't remember now if I didn't implement it for windows because I didn't have time or if there was some technical reason. Created a new issue for that here: https://github.com/dustymabe/vagrant-sshfs/issues/74

[2017-03-29 18:32] geerlingguy commented on #74
@dustymabe thanks! FWIW, I'm currently trying to come up with the best high-performance option for Windows users using Drupal VM (and potentially other Vagrant VMs like Homestead, Phansible, etc.); right now the most reliable option is a manual Samba-based reverse mount (you install samba in the VM, create a share, then manually mount it in windows and create a network location for easy access).

[2017-03-29 18:50] dustymabe commented on #74
@geerlingguy cool. i'm not sure how "high performance" sshfs is, but it sure does make for a easier to manage solution. you may be able to check the performance now by just setting up an sshfs mount manually.

[2017-03-29 19:22] geerlingguy commented on #74
@dustymabe - Just having the option for reverse mount would be a godsend. The problem is, any of the available options besides `rsync` (which has it's own major annoyances) are dog slow since Drupal sites have thousands (or more) source files that need to be `stat`ed on every page load. Just doing the file seeks using any option usually takes 50% or more of the page load time 😱

Reverse mounts all

[2017-04-02 21:48] dustymabe commented on #73
worked for me today on a different computer, same versions of the listed software above. Not sure what was going on there. Will re-open if I see it again.

[2017-04-02 21:48] #73 closed

[2017-04-03 02:36] dustymabe commented on #74
ok, looked at this today. The problem right now that I can see is that I can't find an `sshfs` client for windows that is not a GUI and has a CLI. If you find one, let me know.

[2017-04-05 02:30] geerlingguy commented on #74
@dustymabe - Yeah, it seems most of the solutions are wrappers for userland stuff...

  - https://github.com/apaka/win-sshfs
  - https://github.com/dokan-dev/dokany
  - https://github.com/Foreveryone-cz/win-sshfs

What's with Windows users and GUIs? :P

[2017-04-10 06:36] booxter opened #75 "Support proxy SSH connection mode for remote hypervisors"
When hypervisor is remote and exposed via SSH, then connection to boxes should use ProxyCommand. It is already calculated by Vagrant, but we should put it in proper place into sshfs invoking command line.

[2017-04-17 15:36] #75 closed

[2017-04-25 13:24] HerrSpace commented on #71
The workaround works and doesn't even break `config.ssh.forward_agent = true`. I have eight keys in my agent.

[2017-04-26 20:45] fedealconada commented on #46
@dustymabe has this issue been fixed? I cannot make it work... I'm being able to mount, but if I run `ls -l` inside the mounted folder I get:
`ls: .: Device not configured`
Any ideas?

[2017-04-27 00:18] dustymabe commented on #46
@fedealconada, should be fixed. can you open a new issue with as much detail as possible for the issue you are seeing?

A separate issue with more details on this error would be useful as well.

[2017-05-10 20:58] ambrt opened #77 "Error: "no implicit conversion of nil into String (TypeError)""
[code]

[2017-05-10 21:01] ambrt opened #78 "Error: "no implicit conversion of nil into String (TypeError)""
Windows 10 Home host, boot2docker guest. When i try to add folder with:

i get this error
[code]

[2017-05-29 21:13] dustymabe commented on #77
closing this since i think you meant to only open one issue and #78 has more information in it.

[2017-05-29 21:13] #77 closed

[2017-05-29 21:16] dustymabe commented on #67
hey @mdentinho - i'm going to close this for now. Please re-open and add more information if you can still reproduce the issue.

[2017-05-29 21:16] #67 closed

[2017-05-29 21:23] dustymabe commented on #60
@jjn1056 - how do you think we should proceed on this one?

[2017-05-30 12:37] ambrt commented on #77
@dustymabe Yes. I think this was posted by mistake.

[2017-06-05 07:22] bodyno commented on #69
Same issue

[2017-06-07 11:10] varac opened #80 "Add option to make sshfs default mount option"
From the README I know how to use sshfs for a particular mountpoint, but when working with provisioning vagrant still defaults to nfs for the dynamically generated mountpoints.
How do I tell Vagrant to always use sshfs instead of nfs for *all* mountpoints ?

A `VAGRANT_SSHFS_ALWAYS=true` env variable would be great, but I'm fine with any way to accomplish this.

[2017-06-07 11:13] varac commented on #80
Here's an example of three mountpoints of a box that uses puppet provisioning and uses random mountpoints which I cannot get mounted with sshfs:

[code]

[2017-06-16 23:30] jdevora commented on #7
I'm using it for have access from the host to the logs generated on the guest machine
Very userful

[2017-07-11 22:25] TonyApuzzo commented on #25
I'm on vagrant-sshfs 1.3.0 with Vagrant 1.9.5 and this is still not working from what I can tell with Powershell and Windows openssh (via choco install).  I'm really struggling to find a single vagrant config that will work with Windows, OSX and Linux.  Seems nigh impossible ATM.

[2017-07-11 22:40] geerlingguy commented on #25
@TonyApuzzo for the most part, Drupal VM's defaults work across all. But the filesystem performance _by default_ on Windows is pretty slow.

[2017-07-11 22:48] TonyApuzzo commented on #25
With Windows 10 "developer mode" port 22 is taken by microsoft's fake SSH server.  You have to use a different port, so I installed openssh on a different port via ```choco install openssh -params "/SSHServerFeature /SSHServerPort:8022 /OverWriteSSHDConf /DeleteServerKeysAfterInstalled" -y``` and then put `ssh_opts_append:'-p8022'` in my Vagrantfile synced_folder .  Without the arg it hangs trying

[2017-07-11 23:24] dustymabe commented on #25
Yeah, theoretically you shouldn't need ssh server running at all  on the host so ports shouldn't matter. I'll have to look into this more when I bug scrub - it's taken forever for that, sorry guys.

[2017-07-12 18:04] TonyApuzzo commented on #25
I figured out why it was failing for me.  I had git installed and it was first in my PATH.  When I put the Windows openssh path first it started working.  vagrant up was running git's version of ssh which hangs -- not sure if this can be considered a bug or not.  Of course this might have other consequences down the road with running git from the windows command line, but I almost never do this an

[2017-08-05 12:52] stblassitude opened #81 "FreeBSD guest problems"
[code]

Vagrantfile:
[code]
I've manually installed fuse-sshfs (after commenting-out the synced_folder), then tried to vagrant halt; vagrant up, but I get the same error.

[2017-08-05 13:01] stblassitude commented on #81
FWIW, VirtualBox 5.1.26, vagrant 1.8.6

[2017-08-09 15:37] shuxiao9058 opened #82 "sshfs host path expand error"
[code]

expand command as:
[code]

the host path is /Users/user, but I want the path is `/home/user` on linux.

While the path is /data/web, it report an error:
[code]

[2017-08-09 21:11] stblassitude commented on #81
I've dug a bit deeper:

With FreeBSD (stblassitude/freebsd-11):
[code]

With Ubuntu (ubuntu/xenial64):
[code]

It appears that Vagrant executes an empty command via SSH, and/or has trouble finding the right capability code for FreeBSD? My Vagrant and Ruby knowledge is too limited to really tell where the problem lies, but it seems to me it's in the FreeBSD/BSD classes.

[2017-08-09 21:42] stblassitude commented on #81
I thought that 1.3.0 included all the newest code from master, but it seems I didn't look closely enough. With the code from master, it works:
[code]

[2017-08-09 21:42] stblassitude commented on #81
Any chance you could do a 1.3.1 release anytime soon?

[2017-08-10 00:13] dustymabe commented on #81
@stblassitude - sorry about that - yeah I'd like to do a release soon. I've failed to do that for others. I'll really try to do that this weekend.

keep pinging me on it if it doesn't happen

[2017-09-09 20:06] spicysomtam opened #83 "sftp-server executable file can't be found"
Target os is redhat 7.4. Doing a find for this on the OS, I find it here, and its part of this rpm:

[code]
Maybe you need to add this to the path you search? Plugin is v1.3.0 and its vagrant 2.x.

[2017-09-10 01:29] dustymabe commented on #83
We already check `/usr/libexec/openssh/` [here](https://github.com/dustymabe/vagrant-sshfs/blob/master/lib/vagrant-sshfs/synced_folder.rb#L113).

The most important detail here is that this is the `sftp-server` from the host, not the target guest OS.

[2017-09-10 07:32] spicysomtam commented on #83
Ah. Yes I am missing openssh-sftp-server on my host (I am using Ubuntu). Thanks for the help.

[2017-09-10 14:24] dustymabe commented on #83
No Problem

[2017-09-10 14:24] #83 closed

[2017-09-11 13:07] stblassitude commented on #81
Ping :-)

[2017-09-27 21:41] arcege commented on #78
Here is a patch based on master: https://pastebin.com/dEWp6JTu

The issue is that the code doesn't take into account that a lot of people have their keys in an agent.  It tries to add an IdentityFile option against a value that doesn't exist.  The patch checks if a private key has been specified and adds the option.

[2017-09-28 12:37] dustymabe commented on #78
copying patch here in caste paste goes away:

[code]

[2017-09-28 12:38] dustymabe commented on #78
@arcege - can you describe in detail how you would reproduce? just use agent instead of having vagrant generate pub/priv keypair?

[2017-09-29 01:33] arcege commented on #78
Yes, so not including some of the specifics, the Vagrantfile looks like:
[code]

Fails with the nil+String error without the patch, succeeds with the patch.  Without the patch, uncomment the private_key_path line for success.  Comment out the sshfs line and success with or without the patch.

[2017-10-04 14:09] arcege commented on #78
Same issue with reverse mounts.  Against 1.3.0 and ad92b8b (refs/heads/master).  Updated patch is:
[code]

[2017-10-17 12:21] sirber opened #85 "reverse sshfs on windows"
I'm trying to get the pluygin to work on Windows 10. I installed VirtualBox 5, Vagrant 2, and the plugin.

Config: config.vm.synced_folder 'C:\Data\mnt', "/vagrant", type: 'sshfs', reverse: true

# vagrant up
no mount

# vagrant sshfs -- mount
The capability 'sshfs_reverse_is_folder_mounted' could not be found. This is an internal error
that users should never see. Please report a bug.

[2017-10-17 12:59] dustymabe commented on #85
for technical reasons reverse mounting isn't supported on windows. See https://github.com/dustymabe/vagrant-sshfs/issues/74

[2017-10-17 12:59] #85 closed

[2017-11-28 17:48] macdabby opened #86 "Drives no longer mounted after suspend/up"
Suspending a vagrant machine then calling vagrant up does not remount the volumes. Vagrant reload at this point does.

[2017-11-30 08:51] YurySolovyov commented on #81
Ping 2

[2017-12-01 17:14] MacDada commented on #62
I have the same error.

`$ which sshfs` – nothing

[code]

I installed the plugin with `vagrant plugin install vagrant-sshfs`, but I didn't install `sshfs` separately – should I?

[2017-12-01 17:33] dustymabe commented on #62
yes, you have to install sshfs separately

[2017-12-01 17:37] MacDada commented on #62
It should be mentioned [in the docs](vagrant plugin install vagrant-sshfs) then ;)

[2017-12-01 17:47] dustymabe commented on #62
Installing `sshfs` on the host is only needed if you are doing a reverse mount, which isn't the most common use case. It is somewhat mentioned in https://github.com/dustymabe/vagrant-sshfs/blob/master/README.adoc#options-specific-to-reverse-mounting-guesthost-mount. Feel free to open a PR to help clarify things more.

[2017-12-04 15:07] nilbus commented on #86
I get this too, triggered by the host suspending, which I assume also suspends and resumes the VM.

[2018-01-17 23:18] amikheychik opened #87 "SSHFS client installation fails on the `ubuntu/xenial64` `v20180112.0.0` box"
Using:
- MacOSX `10.13.2`,
- Vagrant `2.0.1`
- VirtualBox `5.2.6`
- `ubuntu/xenial64` box

`vagrant up` fails:

[code]

But it still works correctly, if specify previous version:

[code]

`apt-get install -y sshfs` also works fine during provisioning.

Note: for unclear reason, box `20180112.0.0` uses `vagrant` user instead `ubuntu` in  `20180109.0.0`

[2018-01-29 04:33] 00willo opened #88 "SSHFS mount fails with CentOS 7 Vagrant box"
Steps to reproduce:

[code]
Edit the Vagrantfile to add `config.vm.synced_folder "./", "/home/vagrant", type: "sshfs"`
[code]

Various package details from my macOS High Sierra (10.13.2).
[code]

I was able to reproduce on CentOS 6.9 with the same procedure, where'd I'd never used vagrant or VirtualBox in the past.

[code]

[2018-01-29 04:37] 00willo commented on #88
I saw issue #26 and I appear to be getting similar results.

Further to this, I also get the same error and outcome using fedora/27-cloud-base as well.

[2018-01-29 06:06] 00willo commented on #88
OK, this may not really be an issue.  So, as it turns out you shouldn't attempt to setup a synced folder over the top of the vagrant user's home directory.  (facepalm). One guess what's no longer available.....  If you said the .ssh folder containing the authorized_keys file, you get to Advance to Go (collect $200).  :)

To help those out on how to debug something like this.  You can do this:
- en

[2018-01-29 11:34] 00willo commented on #88
Alright, I've confirmed that I'm only getting this problem on the Mac running virtualbox.  I copied the exact Vagrantfile between the two and the CentOS mounts the sshfs no problem.  In both cases I removed all boxes and destroyed all existing vagrant machines.

It appears to be specific to vagrant-sshfs on Mac as I can vagrant ssh immediately without a problem.

[code]

It doesn't appear to be bo

[2018-01-29 11:56] dustymabe commented on #88
do you use an ssh-agent and do you have a lot of keys currently in the agent?

[2018-01-29 12:56] 00willo commented on #88
Yes, and I have a few keys in my agent, and more than I first thought actually.  I need to clean some of them up, but I'll still have about 4 or 5 left after I finish.

[2018-01-29 14:33] dustymabe commented on #88
If you remove some keys from the agent does it work?

[2018-01-29 22:57] 00willo commented on #88
I removed all my keys and it works.  Due to my config, it didn't click with me that I was adding a new key to the agent everytime I created a new vagrant machine.

Added the following to my ssh client config to stop that behaviour for using Vagrant
[code]

I can submit a pull request to update the README FAQ with some information in the next day or two if you'd like.

[2018-02-03 19:38] mcandre opened #90 "How to support bidirectional syncing?"
Hello,

I am keen to configure my Vagrant boxes so that folders are synced both ways, so that I can rely on the box to automatically push source code changes from the host to the guest, and automatically pull binary application changes back to the host. I see in the vagrant-sshfs documentation that both forms are supported individually, but I am curious if there is a way to enable both host->guest

[2018-02-03 22:19] dustymabe commented on #90
You should think of sshfs as a network filesystem. The files only live in one place so there is no real `bi-directional` syncing that happens (although that appears to be the case because files are transparently accessible from host and guest at the same time).

The only difference between the two implementations in vagrant-sshfs comes down to a question of where you want your files to actually li

[2018-02-11 21:27] dustymabe commented on #90
closing this as clarification was provided in the previous comment and no code work needs to be done

[2018-02-11 21:27] #90 closed

[2018-02-11 22:23] dustymabe commented on #81
freebsd support was added in #79 closing this. I'll have a new release out soon.

[2018-02-11 22:23] #81 closed

[2018-02-11 22:30] dustymabe commented on #87
fixed by #84

[2018-02-11 22:30] #87 closed

[2018-02-11 23:42] dustymabe commented on #19
I just confirmed that if you have libfuse 2.9.7 then you can get this to work:

[code]

[2018-02-11 23:56] dustymabe commented on #60
Since we are just re-using the user that `vagrant ssh` is using to connect to the machine and that seems to work for you I think we'll close this out. I'd prefer not to add another option for setting up a different user to connect with. I will point out that if you really did want to use a different user then you could probably add `ssh_opts_append: -o User=dev' and do it that way.

[2018-02-11 23:56] #60 closed

[2018-02-12 01:56] dustymabe commented on #80
You can do this by putting the following in your `~/vagrant.d/Vagrantfile` file.

[code]

See this PR for more info: https://github.com/hashicorp/vagrant/pull/5013

[2018-02-12 02:09] dustymabe commented on #82
so you are doing arbitrary host mounting of an ssh folder. Can you try running this with `vagrant up` and also with `vagrant sshfs` and tell me if you get the same results.

Basically we've seen behavior where the home directory expansion gets expanded a different way depending on if you are going through the `vagrant up` path vs the `vagrant sshfs` path. See this comment for more information: htt

[2018-02-12 02:19] #78 closed

[2018-02-13 08:47] aidanharris opened #92 "Fails to find sftp-server binary on Gentoo Linux (patch attached)"
On Gentoo the `sftp-server` binary is stored at `/usr/lib/misc/sftp-server`

[code]

[2018-02-14 09:25] rumpelsepp opened #93 "Install fails on alpine"
I am using a alpine linux guest and this plugin fails with:

[code]

Please consider a switch not to install this plugin automatically, I do this in my provision script anyway. On alpine one would install sshfs with `apk add sshfs`.

[2018-02-14 16:09] dustymabe commented on #93
what's the alpine linux vagrant box you are using? preferably one from atlas/vagrantcloud

[2018-02-15 06:51] rumpelsepp commented on #93
I tried these:

https://app.vagrantup.com/generic/boxes/alpine36
https://app.vagrantup.com/generic/boxes/alpine37

[2018-02-25 16:42] dustymabe commented on #93
hey @rumpelsepp - the way vagrant-sshfs detects a guest type is by re-using the guest detections that are defined in the files under:  https://github.com/hashicorp/vagrant/tree/master/plugins/guests . vagrant-sshfs can't support alpine until it is added there.

[2018-02-25 16:54] #92 closed

[2018-02-25 16:56] dustymabe commented on #92
ok, merged this in but do note that it does not add guest support for gentoo guests. mostly just makes sure that sftp-server can be found on a gentoo host.

thanks @aldanharris for the contribution

[2018-02-25 16:58] dustymabe commented on #74
adding the blocked label on this until something pops up

[2018-02-25 17:00] dustymabe commented on #40
going to close this as the behavior is the same asother shared folder implementations

[2018-02-25 17:00] #40 closed

[2018-02-25 17:02] dustymabe commented on #80
TODO: add docs for this and then close this issue

[2018-03-11 20:51] #59 closed

[2018-03-11 20:51] #72 closed

[2018-03-11 20:51] #82 closed

[2018-03-31 21:37] girtsf opened #94 "Directories on guest don't get created"
Vagrant documentation (https://www.vagrantup.com/docs/synced-folders/basic_usage.html) says "The second parameter must be an absolute path of where to share the folder within the guest machine. This folder will be created (recursively, if it must) if it does not exist." This to me implies that `sshfs` would take the same approach.

I'm using `vagrant-sshfs` in reverse mode:
`config.vm.synced_folde

[2018-04-15 09:32] bngsudheer opened #95 "Unable to launch guest: `block in synced_folders': Internal error. Report this as a bug. Invalid: sshfs (RuntimeError)"
Vagrantfile:
[code]
Host: Ubuntu 17.10
vagrant-sshfs package version: vagrant-sshfs/artful,artful,now 1.3.0-2 all [installed]

[2018-04-24 21:38] dustymabe commented on #95
any more info you could provide? I'm not sure where to begin

[2018-04-28 16:34] dustymabe commented on #94
I guess it depends on how you look at it. For a reverse mount you are sharing a folder from the guest back into the host. It seems odd to me to share a folder that doesn't yet exist (i.e. has no content) back to the host. Then again Vagrant boxes are typically ephemeral, so maybe you could make an argument for creating it if it doesn't exist. I don't know.

[2018-05-03 12:48] girtsf commented on #94
My use case: I check out git repos inside guest, and do builds from the guest. I want to make the files available for editing from the host. Doing it the other way makes the builds really slow, but slight latency when editing one file at a time doesn't really matter. My current workaround is to add `disabled: true`, do the initial `vagrant up` (which will create and checkout the git repos), then r

[2018-05-03 12:57] dustymabe commented on #94
I'll probably try to address this in the next release.

[2018-05-03 13:04] girtsf commented on #94
Thank you, appreciated!

[2018-05-21 11:00] n8green opened #96 "File and folder permissions / owner / group"
Whilst file syncing seems to work between host and guest, I seem to be having a problem with file and folder permissions. This is preventing me from configuring Apache to operate as required.

I'm running this plugin on a Windows 10 host, Vagrant 1.9.2, Centos 7 host.

I don't seem to be able to change file or folder permissions from the guest, or change the owner/group.

Currently, all files/fold

[2018-05-21 11:30] n8green commented on #96
It seems that it was selinux  causing my permissions issues with apache. Disabling it resolves the issue.

[2018-05-21 11:30] #96 closed

[2018-07-01 00:22] reypm opened #97 "How to properly setup folder mounting in Windows?"
I am trying to setup Vagrant and Hyper-V and it is almost done but folder sharing is failing. This is how my `Vagrantfile` looks like:

    # -*- mode: ruby -*-
    # vi: set ft=ruby :

    Vagrant.configure("2") do |config|
      config.vm.box = "centos/7"
      config.vm.network :forwarded_port, host: 8080, guest: 80
      config.vm.network "private_network", ip: "192.168.50.4"
      config.vm.s

[2018-07-07 16:44] dustymabe commented on #97
[code]

`/var/www` inside the vagrant VM already has files under it (i.e. it's not an empty directory) so fuse is complaining. You can either delete the files under `/var/www/` or add the `nonempty` mount option using [sshfs_opts_append](https://github.com/dustymabe/vagrant-sshfs#generic-options)

[2018-07-09 15:28] negnetsolutions commented on #86
Any work around for this?

[2018-07-09 18:24] dustymabe commented on #86
nothing for now. just run `vagrant sshfs` before you `vagrant up`

[2018-07-09 18:24] #97 closed

[2018-07-12 15:21] negnetsolutions commented on #86
Mostly the problem is that sshfs disconnects when my Mac goes to sleep and I have to "vagrant sshfs" every time after the machine wakes. It's most annoying to take a coffee break and have to reconnect each time. I may try to automate the command, but it's probably something that should be built into the core plugin... Thanks.

[2018-07-12 15:29] dustymabe commented on #86
feel free to open a pull request :)

[2018-07-12 15:33] negnetsolutions commented on #86
:)
On Thu, Jul 12, 2018 at 10:29 Dusty Mabe <notifications@github.com> wrote:

--

—

Andrew Johnson
*negnet*solutions
918.808.3008
www.negnet.co

[2018-08-30 10:49] gsaslis commented on #95
Same issue here:

Here's how the synced folder is defined in `Vagrantfile`:
[code]

[2018-10-09 18:34] robkinyon-roivant commented on #68
What's needed here is a verification that `/dev/fuse` exists **on the guest** and, if not, execute `mknod -m 666 /dev/fuse c 10 229`. This is a well-known issue in mounting sshfs within LXC containers.

Failed attempts:

* Because of https://github.com/hashicorp/vagrant/issues/936, you cannot do this from within the Vagrantfile as a provisioning step.
* I tried to set things up so that the synced

[2018-10-30 13:17] mika018 opened #98 "fuse: unknown option `slave'"
I am trying to mount the vm folder to a host directory using:
`
vm1a.vm.synced_folder "/path/on/my/machine", "/path/on/vm",  type: "sshfs"
`
But I got an error saying that I have to use `nonempty` flag which I added and now my Vagrantfile looks like this:
`
vm1a.vm.synced_folder "/path/on/my/machine", "/path/on/vm", sshfs_opts_append: "-o nonempty", type: "sshfs"
`
When trying to get the sshfs run

[2018-11-02 08:32] Zlopez opened #99 "Error when using sshfs_opts_append: "-o nonempty""
When trying to run `vagrant up` with my [Vagrantfile](https://github.com/release-monitoring/anitya/blob/master/Vagrantfile.example) I'm getting this error:
[code]

Without the option `sshfs_opts_append: "-o nonempty"` the `vagrant up` works fine.

OS: Fedora Silverblue 29
vagrant: 2.1.2
vagrant-sshfs: vagrant-sshfs-1.3.1-2.fc29.noarch

[2018-11-02 08:38] Zlopez commented on #99
Now it's happening even without the option `sshfs_opts_append: "-o nonempty"`.

[2018-11-02 13:33] dustymabe commented on #99
hmm. I know of [a bug](https://bugzilla.redhat.com/show_bug.cgi?id=1624068) that is currently [in testing](https://bodhi.fedoraproject.org/updates/FEDORA-2018-461d1a4e14) where booting a fedora 29 vagrant box would fail because we switched to Networkmanager. I wouldn't expect the same bug to affect a fedora 28 vagrant box. It might be worth trying `vagrant-2.1.2-3.fc29` in updates-testing.

[2018-11-02 13:37] dustymabe commented on #99
By the way. I suspect you'd get that same error even without sshfs.

I imagine what you did here is `up` your box then `halt` it at some point and you are re-`up`ing it again after it has been fully updated. That shouldn't break.

[2018-11-02 13:42] dustymabe commented on #99
are you sure you weren't using `fedora/29-cloud-base` ?

[2018-11-02 13:54] Zlopez commented on #99
Sorry this image is not exactly the same I'm using on my machine. Yes, I'm using `fedora/29-cloud-base`.

[2018-11-02 14:31] dustymabe commented on #99
`vagrant-2.1.2-3.fc29` should fix it. Are you saying you are still seeing errors ?

[2018-11-02 14:41] Zlopez commented on #99
My bad, I have `vagrant-2.1.2-2.fc29.noarch`.

[2018-11-02 14:43] Zlopez commented on #99
But it's the newest I got yesterday from testing.

[2018-11-02 14:56] Zlopez commented on #99
Did `rpm-ostree upgrade` and there was newer. I will restart and test it.

[2018-11-02 15:06] Zlopez commented on #99
Ok, I checked with the newest version and the issue is not really with `-o nonempty`.
[code]

[2018-11-02 15:07] Zlopez commented on #99
After commenting out this option the `vagrant up` is working.

[2018-11-02 18:10] dustymabe commented on #99
ok so this issue is related to `sshfs_opts_append: "-o nonempty"` not working properly then? can I get you to re-add the option back and run `vagrant sshfs --unmount && vagrant sshfs --debug`

[2018-11-02 18:12] dustymabe commented on #98
What is the target vagrant box operating system? I'm guessing the version of sshfs you have doesn't support the `-o slave` option. Maybe check the man page to see.

[2018-11-02 18:14] dustymabe commented on #98
For a summary of what is going on read [this section](https://github.com/dustymabe/vagrant-sshfs#sharing-vagrant-host-directory-to-vagrant-guest---94-of-users)  from the README

[2018-11-03 13:05] Zlopez commented on #99
Tried to run with `vagrant sshfs --unmount && vagrant sshfs --debug` and here is the output: https://paste.fedoraproject.org/paste/EAWE8b70OMgU7CgK5WX4IQ

[2018-11-04 15:48] dustymabe commented on #99
Here is the relevant command:

[code]

Looks normal to me. I really don't know why it's not working. How old is the OS of the vagrant box? Does `man sshfs` inside the VM show a `nonempty` option?

Also noting here that I'm not able to reproduce locally (fedora 27).

[2018-11-04 18:15] Zlopez commented on #99
I'm running Fedora 29 Silverblue and the vagrant is using `fedora/29-cloud-base`.

[2018-11-05 02:16] dustymabe commented on #99
Odd. I really don't know what the issue is. I am currently not yet on f29 but I can verify that on my f27 system a f29-cloud-base vagrant box works fine with that option. I guess for now you have a workaround so you're ok?

[2018-11-05 02:36] dustymabe commented on #99
Actually I was able to reproduce.. It looks like the version of fuse inside f29 (fuse3) doesn't accept that option any longer. I'm not sure why.

I don't see much that we can do here in vagrant-sshfs, though. So probably just close this issue out.

[2018-11-06 09:13] Zlopez commented on #99
Reported on fedora bugzilla - https://bugzilla.redhat.com/show_bug.cgi?id=1646385

Closing this issue.

[2018-11-06 09:13] #99 closed

[2019-01-22 04:55] greg-hellings opened #100 "RHEL/CentOS 8 support"
RHEL/CentOS 8 is in beta now. There is currently no support for it in the plugin, so provisioning with SSHFS enabled fails when it attempts to install fuse-sshfs on the client system.

[2019-01-24 03:33] dustymabe commented on #100
Thanks for reporting. will try to get around to fixing.

[2019-01-24 03:51] greg-hellings commented on #100
Fixing will probably need to wait until there are public repos for EPEL 8, but just consider this a reminder/placeholder task. :+1:

[2019-01-24 04:01] dustymabe commented on #100
👍

[2019-02-02 23:15] nickgarber opened #101 "option to use an alternate epel mirror"
Occasionally the main mirror at `https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm` is not available or not the best choice for some other reason.

A further enhancement would be to automatically use the best mirror.

A further still enhancement would be to support a means to pre-load all the files needed to install pre-requisites without needing an internet connection at all.

[2019-02-11 13:59] Aguay-val opened #102 "Disable /vagrant mount in the guest"
Hi there,

I'm using vagrant-lxc since a while but now i'm facing a problem.
I'd like to disable the mount of the "/path/to/project" into "guest:/vagrant".

By default, all the time you launch a new vagrant lxc container, vagrant lxc create a mount entry as follow :
`lxc.mount.entry=/home/aguay/Workspace/test vagrant none bind,create=dir 0 0`

Even if i don't specify any "mount entry" in my Vagran

[2019-02-11 16:22] #102 closed

[2019-02-11 16:22] Aguay-val commented on #102
Mistake.

Wrong project....

[2019-03-01 16:50] wilkesreid commented on #71
Calling `SSH_AUTH_SOCK= vagrant up` causes `default: Warning: Authentication failure. Retrying...` errors for me during the booting process.

[2019-04-02 12:49] nphilipp commented on #88
I think I'm running into the same or a similar problem (on current git master of both vagrant & -sshfs).

With this `Vagrantfile`...:

[code]

I have run it like `SSH_AUTH_SOCK= vagrant up` for the SSHFS mount to work.

[2019-04-10 22:24] dustymabe commented on #88
yeah it just means that you have too many keys in your agent most likely added by you) and the remote SSH daemon kicks you out early. You can try adding `sshfs_opts_append: "-o IdentityAgent=none"` in your Vagrant config to work around this. It's essentially the equivalent of running `SSH_AUTH_SOCK= vagrant up`.

Let me know if it works!

[2019-04-13 11:34] sh-palm opened #103 "mount fails if hostpath has a space on windows"
Example:  If hostpath is "data", it gets expanded to "C:\Users\Username with space\Documents\vagrantfolder\data".  This mount will fail.

[2019-06-09 10:31] bexelbie commented on #88
I just hit this.  I also have a lot of SSH keys and they are actually served by GPG.  the sshfs_opts_append didn't work, but SSH_AUTH_SOCK= did ...

F30 host, 20190604 F31/rawhide-cloud-base guest

[2019-07-09 18:00] furlongm opened #104 "does not work behind http proxy"
If the sshfs client is not installed, the guest fails to come up when a proxy is required:

[code]

It would be nice to have options for `http_proxy` and `https_proxy` that apt/yum etc could use.

[2019-07-13 12:18] timschumi commented on #93
I created a pull request to add alpine support (#105).

While upstream vagrant doesn't support the "alpine" guest type yet, it is provided by the vagrant-alpine plugin until it's ready to be upstreamed.

@rumpelsepp The specific issue with sshfs trying to install through `yum` is due to the guest type being hardcoded to `alt` as a workaround. If you have the vagrant-alpine plugin installed, add `c

[2019-10-16 22:09] mitchellmaler opened #106 "Multiple machines mounts lost when new machine started up"
I have a Vagrantfile that launches multiple machines which are all mounting the /vagrant directory and the first machine is mounting a second mount. When I start the first machine both mounts are working fine. When the next machine boots up it stops those two ssh mounts and then mounts the single one to the new machine. I was expecting all ssh clients to stay open and keep all machine mounts until

[2019-10-17 00:51] dustymabe commented on #106
- What platform are you on and what OS is your vagrant instance?
- Do you have an example Vagrantfile

[2019-10-17 02:50] mitchellmaler commented on #106
@dustymabe I am running on MacOS 10.14.6 (18G103
vagrant-sshfs (1.3.1, global)
Vagrant Version: 2.2.5
Using the vmware_desktop provider: Version 11.5.0
SSH Version: OpenSSH_7.9p1, LibreSSL 2.7.3

## Vagrant File

[code]

## Startup Log

[code]
## showing one vm doesn't have the mounted files anymore

[code]

## ssh sshfs processes running after startup
[code]

[2019-10-17 16:12] dustymabe commented on #106
I couldn't get `generic/centos7` to boot but I can using the [official centos/7 box](https://app.vagrantup.com/centos/boxes/7). However, I can't reproduce the reported problem in my environment (Fedora Linux using libvirt):

[code]

Maybe it's something specific to MacOS?

After the machines are up if you run `vagrant sshfs --unmount && vagrant sshfs --mount` does the problem still exist? If so th

[2019-10-21 00:59] dustymabe commented on #100
this is effectively blocked by: https://bugzilla.redhat.com/show_bug.cgi?id=1758884

[2019-12-11 21:23] dustymabe commented on #100
ok, new update.. it all seems to work now with the `centos/8` box, but not because the above bug has been addressed. It seems the machines are able to install a very old version of fuse-sshfs from the repos:

[code]

[2019-12-30 17:05] hedmo opened #107 "sftp-server has moved again in gentoo"
hi

today i was running vagrant-sshfs and it did not find /usr/lib/misc/sftp-server.
today in gentoo the sftp-server is in /usr/lib64/misc/sftp-server.i found the problem via #92
and manage to fix it via :

`sudo ln -s /usr/lib64/misc/sftp-server /usr/lib/misc/sftp-server`

regards hedmo

[2020-01-01 04:53] gyakovlev commented on #107
gentoo vagrant maintainer here.
it did not move, but we no longer carry /usr/lib -> /usr/lib64 symlink so path no longer valid.

https://github.com/dustymabe/vagrant-sshfs/blob/5cb3943c6806c42551f676c468136e1555b8e654/lib/vagrant-sshfs/synced_folder.rb#L113-L117

since vagrant is only supported on x86_64 it's safe to assume
`/usr/lib64/misc/` path on gentoo hosts, it's backwards compatible with ol

[2020-01-01 18:44] dustymabe commented on #107
Thanks @gyakovlev - I'll try to address this soon.

[2020-01-05 05:26] #107 closed

[2020-01-05 09:48] hedmo commented on #107
@dustymabe  how do i install it:

`hedmo@mya51 ~ $ vagrant plugin install vagrant-sshfs-1.3.3
Installing the 'vagrant-sshfs-1.3.3' plugin. This can take a few minutes...
NOTE: Gem::Specification.default_specifications_dir is deprecated; use Gem.default_specifications_dir instead. It will be removed on or after 2020-02-01.
Gem::Specification.default_specifications_dir called from /usr/lib64/ruby/ge

[2020-01-05 15:00] dustymabe commented on #107
I only did part of the release last night. Finished it up this morning. Try again :)

[2020-01-05 16:34] hedmo commented on #107
@dustymabe

it is working but i am getting error messages :

[code]

[2020-01-05 18:59] dustymabe commented on #107
hmm, not sure where that message is coming from? vagrant itself? Maybe you updated other plugins as part of the vagrant-sshfs update.

[2020-02-25 12:35] pbrezina opened #108 "Install EPEL8 on RHEL-8 systems"
EPEL6 is currently installed on RHEL-8 systems.

[2020-03-08 16:41] dustymabe commented on #108
Yep that needs to be fixed. Though we also need to get sshfs into epel8. See https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/UZ7QRQIQ7UFDQRTKYEQNEK3RJCCOBAW7/#UZ7QRQIQ7UFDQRTKYEQNEK3RJCCOBAW7

[2020-03-09 06:22] StarWonder67 commented on #69
Hi, I am facing the same issue. The vagrant-sshfs version i'm using is 1.3.3. SHould I report the issue somewhere?

[2020-03-14 17:01] dustymabe commented on #93
this was fixed in #105

[2020-03-14 17:01] #93 closed

[2020-03-15 17:32] dustymabe commented on #100
This only worked because `epel-release` from epel6 was getting installed (#100). A more appropriate fix is coming.

[2020-03-15 23:02] #100 closed

[2020-03-15 23:02] #101 closed

[2020-03-15 23:02] #108 closed

[2020-03-18 15:24] pbrezina commented on #108
Thank you for quick fix, however it is not correct. `epel-release` is actually not available in RHEL unless you have EPEL already enabled. See https://repology.org/project/epel-release/versions

[2020-03-19 01:25] dustymabe commented on #108
I actually modified it to not use epel at all for el8: https://github.com/dustymabe/vagrant-sshfs/commit/ac732ace27c6991f89b808edb50f004bbaa87c70

but I think maybe that answer only works for CentOS and not RHEL. Any idea the magic yum command to run to install fuse-sshfs on RHEL?

[2020-03-19 08:56] pbrezina commented on #108
fuse-sshfs is available in CRB (Code Ready Builder) repository in RHEL-8 so the name is different then what's in CentOS. But I guess you need some sort of subscription to enable this repository so it's not very suitable for vagrant and maybe it would be better to install it from some copr repository?

Because `epel-release` is only available in EPEL repository it will fail to install it even on RH

[2020-04-13 13:03] lhirlimann commented on #88
ditto AUTH work while the option doesn't.

[2020-05-09 17:39] oxr463 opened #110 "sshfs: command not found"
Here is are the Vagrantfile contents:

[code]

Here is the actual output:

[code]

See also: https://github.com/dustymabe/vagrant-sshfs/issues/62

[2020-05-09 17:56] oxr463 commented on #110
[code]

[2020-05-28 11:51] localhost8080 commented on #110
Found an actual workaround (or two)
The actual fix is this: https://github.com/dustymabe/vagrant-sshfs/pull/111 and it shows the reason:

Vagrant 2.8.8 introduced explicit handling of CentOS as a guest in the commit hashicorp/vagrant@5104d07

This means that on boot in vagrant >= 2.2.8 , centos is not detected (which means that the epel repo is not installed, which means that fuse-sshfs is not ins

[2020-05-28 14:45] oxr463 commented on #110
@localhost8080 this is for Gentoo though.

[2020-06-01 14:54] localhost8080 commented on #110
@oxr463 sorry, I totally missed that;

I had a 'me too' on the sshfs not found on centos

[2020-06-09 06:59] bngsudheer commented on #110
On CentOS 8, I had to run `dnf --enablerepo=PowerTools install fuse-sshfs`

[2020-06-12 14:59] jcarnu opened #112 "SSHFS not installed in centos/7 guests"
With
  * vagrant 2.2.9
  * vagrant-sshfs (1.3.4, global)

It turns out fuse-sshfs rpm is never installed (pulled from epel) on guest.
After some investigations I figured out `sshfs_install`  and ` sshfs_installed`  capabilities led to `cap/guest/redhat/sshfs_client.rb` but that no install were done due to `rhel_version` having `:centos_7` value.

There's two way to fix the situation (I implemented

[2020-06-14 18:39] y1y123 opened #113 "SSHFS not installed on Nexus"
Vagrant 2.2.7
Latest sshfs plugin is not able to trigger sshfs mount because it is not able to identify the linux distro. I would like to add nexus capability with its own sshfs_client.rb but I am not familiar with the process. I am quite new to the vagrant, sorry if I overlooked some document/guideline. Really appreciate if somebody could guide me with next steps.

[2020-06-29 02:37] dustymabe commented on #113
Is Nexus a linux distro? If you install sshfs then any distro should work assuming that `/usr/bin/sshfs` exists. What error message are you seeing?

[2020-06-29 06:10] dustymabe commented on #112
hey @jcarnu this should be fixed in the latest release thanks to #111 - try it out and let us know how it works.

[2020-06-29 06:10] #112 closed

[2020-06-29 06:11] dustymabe commented on #110
This should be fixed in #111. There is a new release out. Please try it and let us know how it works.

[2020-06-29 06:11] #110 closed

[2020-06-29 06:15] dustymabe commented on #108
Hey @pbrezina. It really looks like there aren't a lot of good options here. Now that there is proper detection for CentOS itself in Vagrant I reset the RHEL module back to what it was before (see f4408e3) and I decided to just do a best effort for RHEL8 by just installing the fuse-sshfs from epel7 (see 04235d9). CentOS still pulls from PowerTools repo like it should.

Do you want to try out the n

[2020-06-29 11:37] pbrezina commented on #108
Using EPEL6 broke dependencies when running system upgrade so it will probably be also issue with EPEL7. I think the best solution would be to try to install fuse-sshfs but say that "fuse-sshfs must be installed from code ready builder repo manually" if the package is not found.

[2020-06-29 13:12] dustymabe commented on #108
Yeah. I'm trying to address that problem in https://github.com/dustymabe/vagrant-sshfs/commit/04235d96fb9d3d373a0c83b2e3f47a709f4c38af by not leaving epel7 installed on the system. Did you check out the commit?

I think the best solution would be to try to install fuse-sshfs but say that "fuse-sshfs must be installed from code ready builder repo manually" if the package is not found.

[2020-06-29 13:38] pbrezina commented on #108
I didn't notice this change. I will try it later this week to see if there is any impact.

[2020-06-29 13:39] codylane commented on #104
Hello @furlongm,

I'd be curious if you could share an example Vagrantfile?  For what it's worth I am one of the maintainers of another vagrant plugin called [vagrant-proxyconf](https://github.com/tmatilai/vagrant-proxyconf) and I am thinking I could help you get your Vagrantfile setup so that you can use `vagrant-sshfs` behind a proxy and allow `vagrant-proxyconf` to configure your proxies before

[2020-06-29 15:46] codylane commented on #1
@dustymabe - I'm curious if you've tried using `ENV['USER']` instead of `whoami` for this?  I'd be happy to give this a shot and see if this still works as well as put some tests behind it?

[2020-06-29 15:49] codylane commented on #2
@dustymabe - I'm wondering if we could use `ssh-askpass` for this?

[2020-06-30 04:18] codylane commented on #113
@y1y123 - When you say nexus do you mean google nexus tablet or [nexus repository manager](https://www.sonatype.com/product-nexus-repository)?

[2020-06-30 04:30] codylane commented on #104
As promised.  Here's an example how to use `vagrant-sshfs` and `vagrant-proxyconf` at the same time.

## how to install vagrant-proxyconf

`vagrant plugin install vagrant-proxyconf`

## how to update vagrant-proxyconf

`vagrant plugin update vagrant-proxyconf`

## Example vagrantfile that uses vagrant-sshfs and vagrant-proxyconf

[code]

[2020-07-03 09:45] pbrezina commented on #108
Seems to work fine on both rhel7 and rhel8. I didn't notice any problem with package updates so it should work as long as fuse and fuse-common will be compatible.

[2020-07-03 09:45] pbrezina commented on #108
Thank you for your work.

[2020-07-04 15:17] y1y123 commented on #113
Thanks, appreciate your response. Yes, Nexus (Cisco data center switches) is a Linux distro but it identifies itself as nexus, it has ID=nexus in /etc/os-release file. For my testing, I changed ID=linux in os-release file and it worked fine but I can't commit this change in official release for customers.

[2020-07-04 15:20] y1y123 commented on #113
Nope, I was referring to nexus is Cisco Data Center switch operating system. It is essentially linux only but customised by Cisco.

[2020-07-05 05:56] codylane commented on #113
Ok, well I appreciate your response, I still cannot understand how this correlates to the vagrant-sshfs plugin. Given my experience with Cisco I cannot imagine them providing such a virtual environment without additional licensing costs and fees and I'm not sure why they would unless you are attending some sort of training course.  But then again, I don't understand your use case(s).  Perhaps you

[2020-07-06 13:51] codylane commented on #1
There is also the `etc` ruby module that should be a much richer alternative as well.  I'd suggest using the `etc` module route and here's an example.

[code]

Here's the [etc API doc ](https://docs.ruby-lang.org/en/2.6.0/Etc.html)for reference for 2.6.x which is the version of ruby what Vagrant 2.2.x is using

[2020-07-07 20:10] dustymabe commented on #113
I think @y1y123 is asking for vagrant-sshfs to identify Nexus as linux and just use that. Unfortunately our hands are tied here as the code that detects these things is in Vagrant upstream. @y1y123 I think you'd need to add a guest type upstream and then we could add support for it to vagrant-sshfs. Here is where I would start: https://github.com/hashicorp/vagrant/tree/master/plugins/guests

[2020-07-07 20:21] codylane commented on #2
Ok, no problem, I understand.

How bout an env var then or perhaps a file that is locked to perms owner:group 0600? This way we could slurp up the file if detected which contains the secrets.  Just a thought.

[2020-07-07 20:23] dustymabe commented on #1
Seems reasonable assuming that module is in the standard library for ruby (i.e. it's not something extra that needs to be installed later).

[2020-07-07 20:26] dustymabe commented on #2
Maybe an env var would be best! I'd prefer to try to avoid writing files with passwords in them because we need to be careful to make sure they get cleaned up appropriately and also if they were ever written to disk they could theoretically be recovered even if deleted.

[2020-07-07 20:38] codylane commented on #2
Agreed, there is also a an additional alternative which would be 'getpass' I'm not sure what the equivalent is in ruby but I also feel like it is generally part of standard APIs with most programming langs.  We could first try ssh key and if that fails in the exception try to use getpass to have the user enter their password in an interactive prompt or if the user defines the ENV var in their Vagr

[2020-07-08 16:36] codylane commented on #1
Agreed, for confirmation [etc](https://ruby-doc.org/stdlib-2.6.6/) is part of the standard library. I'll put in a PR with some tests when before the end of the week.

[2020-07-08 16:42] codylane commented on #2
In reference to my previous message, [io/console](https://ruby-doc.org/stdlib-2.6.6/libdoc/io/console/rdoc/index.html) provides the `getpass` method and is part of the of ruby stdlib. I'd be happy to put a PR for this as well as some tests.  Should be fairly straight forward.

[2020-07-08 22:12] dustymabe commented on #2
one thing to watch out for is that the reason this is tricky is because it's happening inside the VM. i.e., this is the command we're running on the remote:

[code]

so we have to find a way to pass that information. without showing the password in the log output (this bug)

[2020-07-08 22:16] codylane commented on #2
Gotcha, excellent info. I'll see what we can do and I agree that this needs some careful implementation and I'll see what I can come up with. I enjoy this sort of challenge, but I'm not arrogant enough to say this is an easy fix.  ;)

[2020-07-09 21:43] codylane opened #114 "Would you mind if we used travis CI for unit + integration tests?"
Hello @dustymabe,

I'm about to start working on a few of issues as I promised and I wanted to see if you were open to using Travis CI for tests? I'd be happy to put this all together and get it setup. It is fairly easy to do and I have no problem with if as long as you think it's a good idea?  I'm also open to other alternatives as well, just thought I would mention travis CI since most OSS proje

[2020-07-12 09:33] rEnr3n opened #115 "Installing SSHFS client failed"
vagrant-sshfs 1.3.5
Host: Arch Linux

I'm trying to start up this box:
`archlinux/archlinux (libvirt, 2020.06.03)`

I get the following error:
[code]

At the time, `fuse3` was v3.9.2. It was updated on `2020-06-21 01:14 UTC`.

[2020-07-13 19:42] y1y123 commented on #113
Thanks for your response and pointer. I will add a new guest type for nexus in upstream and then try sshfs.

    On Wednesday, 8 July, 2020, 01:40:48 am IST, Dusty Mabe <notifications@github.com> wrote:

I think @y1y123 is asking for vagrant-sshfs to identify Nexus as linux and just use that. Unfortunately our hands are tied here as the code that detects these things is in Vagrant upstream. @y1y12

[2020-07-13 19:51] codylane commented on #113
@y1y123 - I'm still not convinced that you are actually using Vagrant.  Is there any chance you can show us your Vagrantfile and at minumum please provide the information I requested?  I hope I'm not being to harsh, I'm just trying to help as best as I can and I'm not always the best communicator.

[2020-07-13 19:56] y1y123 commented on #113
As pointed out by Dusty Maybe,  I need to add guest detection and capability plugin for nexus but just to answer your questions, my Vagrantfile is quite simple and this is how it looks like.

config.vm.box_url = "sshfs_nexus9300v.9.4.1.IJB9.0.159.box"
config.ssh.insert_key = false
config.vm.synced_folder "/Users/y1y123/N9Kv", "test", type: "sshfs

My host is MAC OS Catalina 10.15.5
Vagrant 2.2.7
T

[2020-07-13 20:08] codylane commented on #113
Hi @y1y123,

Thank you so much for the detailed info, that helps a lot.

Please upgrade to Vagrant `2.2.9 `Vagrant has it has been a mess since >= 2.2.5 and < 2.2.9. I was finally able to help fix the final problem in 2.2.9. I'd love to see if this is some resolved by using the latest stable version of Vagrant.

Otherwise, I'll try and download the box file you provided and see if I cannot setup a

[2020-07-13 20:46] codylane commented on #115
Hello @rEnr3n,

I'm having a hard trying to confirm if this is related to our `vagrant-sshfs` or if this is related to possibly a misconfigured repository or networking issue on your VM. Is there a chance that you can provide some more details about your Environment.

* Can you please share your entire Vagrantfile? As well as any provisioning scripts?
* What host are host OS are you using?  What v

[2020-07-14 02:24] rEnr3n commented on #115
[code]

Host OS: Arch Linux (updated) (note: rolling release distro)

[code]

Yes. I don't know what version.

[code]

VM is not created.
[code]

[2020-07-14 14:50] codylane commented on #115
Thanks @rEnr3n, I appreciate it.  I won't lie to you but I'm not very familiar with the Arch distro so you'll need to bare with me as I need to ask some additional questions.

* What box version are you using or are you rolling your own Arch box?  I suspect you are using the latest version [here](https://app.vagrantup.com/archlinux/boxes/archlinux)?

* Have you tried disabling `sshfs` inside your

[2020-07-14 16:05] codylane commented on #115
Just adding some troubleshooting of my own to the thread. I've tried the latest versions of archlinux/archlinux from the public vagrant could in both virtualbox and libvirt and they both work given the Vagrantfile you provided.

Here's the output
[code]

#### `Vagrantfile`

[code]

#### `vagrant plugin list`

[code]

#### `cat /etc/os-release`

[code]

#### `vagrant --version`
[code]

#### `qemu-s

[2020-07-14 16:33] codylane commented on #113
I downloaded the Vagrantbox that you provided and tried it out but I can never actually get Vagrant to login.

[code]

[2020-07-14 19:26] y1y123 commented on #113
Thanks Codylane, appreciate your continued support.  I downloaded same box and it came up just fine (pls. see logs below) but I would request you to not spend more time on this. This is not an sshfs plugin issue. I was facing issue primarily because Nexus default shell is not bash (but it can be changed with config.ssh.shell = "run bash") and also because it is not seen as a valid linux distro by

[2020-07-14 19:26] #113 closed

[2020-07-15 04:14] rEnr3n commented on #115
Yes. I'm using the official box (the link you provided).

[code]

[code]

According to the logs on OP, yes that's the issue I'm hitting. Arch Linux does not keep older versions of packages in their repo. Only the latest version exists. The older versions are removed.

I use the default one.

I tried to `vagrant up` again today without changing my config. I didn't see the error. I'm assuming the mi

[2020-07-15 15:36] codylane commented on #115
Hi @rEnr3n,

Thanks again for taking the time to post those requested details, it really means a lot and it helps give a better understanding of what's going on.  That said, I'm sorry to hear that this issue is intermittent.  I too have been bitten by flaky repos that are hard to troubleshoot why my install is only broken sometimes and it works other times.  That's frustrating for sure.

Also, as

[2020-07-15 21:24] codylane commented on #115
## USAGE

* Download the Makefile
* Download the Vagrantfile
* Download the Vagrantfile.refresh_repo

# Update your base box when doing a fresh install

* **WARNING**: This will delete your snapshots and VM history"

`make build`

#

[2020-07-16 05:05] rEnr3n commented on #115
Thank you for your time and effort 😊. I'm fine with your suggestion though.

[2020-07-16 15:59] codylane commented on #115
Right on, glad hear that Makefile solution will work for you. I really like that little Makefile, it's makes repackaging a breeze especially if you need a new base box or you want to test something without provisioning the whole the stack every time. It's nice to be able to make incremental changes and then snapshot and release it.

If this meets your expectation(s) and there are no further proble

[2020-07-17 02:15] rEnr3n commented on #115
Will you be making it into a plugin?

[2020-07-17 02:43] codylane commented on #115
Hey @rEnr3n,

My apologies, I will certainly make an attempt in the next week or so.  I'll probably call it `vagrant-reporefresh`. FYI. In case you would like to contact me further or if you have additonal ideas my email is: `cody dot lane at gmail dot com`

[2020-07-17 03:23] #115 closed

[2020-07-19 18:33] dustymabe commented on #115
This comment from the code seems relevant:

https://github.com/dustymabe/vagrant-sshfs/blob/fa273792f25ce62e38d90d947b2712b30ac8e1e2/lib/vagrant-sshfs/cap/guest/arch/sshfs_client.rb#L6-L14

[2020-07-19 18:40] dustymabe commented on #114
I'm not opposed, but have a few concerns/suggestions:

- This project can be a bit hard to test because it requires VMs to properly test things.
- Does travis offer the option to test on CentOS/Fedora distributions?
    - It's what I'm most comfortable with and if debugging a test failure I'd like to use a similar environment

[2020-07-19 19:02] codylane commented on #114
Great question and not one that I've considered before.  In theory we could use Docker images inside of Travis like so.  https://docs.travis-ci.com/user/docker/.  I've not gotten that complex though, I normally test my integrations in multiple OSes within my local network and only generally run my unit tests publicly.

Here's another example of what we do with [vagrant-proxyconf](https://github.co

[2020-07-20 01:31] dustymabe commented on #114
Yeah. If we just want to run unit tests on travis and leave the integration tests as something we do manually, that is probably the easiest to achieve. As we go through this let's keep an eye out for keeping things as simple as possible. That will make it easier to maintain over time.

[2020-07-20 21:11] codylane commented on #114
No problem, and I agree with you as well as trying to use as many stdlib libraries as possible without re-inventing the wheel.

Just curious, what is the best way for us to define/communicate new features/bugs? The reason I ask is because I'm a believer in communication and keeping an open mind when it comes to writing software and the key to good software is communication.  I'd be happy to setup

[2020-07-28 14:20] codylane commented on #114
I apologize, I've been heads down working on a couple of different projects. I hope to get to this before the weekend if over.

[2020-07-29 14:10] dustymabe commented on #114
No need to apologize. This project is a low time commitment. If it wasn't I'd have to give it up.

[2020-07-31 01:43] codylane commented on #114
Closing this request since the main point was addressed already.

Thanks @dustymabe for help thus for and for being open to listening to another persons ramblings.  Talk soon.

[2020-07-31 01:43] #114 closed

[2020-12-01 16:33] Ian2020 opened #120 "Inherited file descriptor left dangling by spawned sftp-server process"
On Linux when running `vagrant up` under the build tool [ninja](https://ninja-build.org/) then ninja will wait forever on a file descriptor belonging to the sftp-server process which was spawned and detached by vagrant-sshfs (I am using version 1.3.5).

The problem is fixed if I change vagrant-sshfs to spawn the process with option `:close_others = true` [(ruby-doc)](https://ruby-doc.org/core-2.7.

[2020-12-04 11:08] jormangand opened #122 "No epel-release-latest-6.noarch.rpm for rhel6"
When using Amazon Linux 2 as guest OS (https://app.vagrantup.com/bento/boxes/amazonlinux-2), the attempt to access EPEL fails:

[code]

epel_install() in cap/guest/redhat/sshfs_client.rb uses a hard-coded path in EPEL:

`rpm -ivh https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm`

which is no longer present (only versions 7 and 8 remain).

The flavor seems to resolve to rhel (

[2020-12-09 10:29] h0st commented on #122
I've also faced with the same issue using CentOS 8 official box (centos/8) and vagrant-sshfs plugin. epel-release-latest-6.noarch.rpm package is missing by https://dl.fedoraproject.org/pub/epel/ url. I am trying to change it to epel-release-latest-8.noarch.rpm.

I am agree with @jormangand or it could be replaced to the latest rpm version.

[code]

[2020-12-10 11:25] giorgioma commented on #122
I am temporarily fixing it by provisioning the install directly on the vagrant shell for CentOS
[code]

[2020-12-11 08:00] h0st commented on #122
Updating the plugin to a version upper than 1.3.4 helped me on CentOS.

[2020-12-11 11:53] h0st commented on #122
New troubles on a CentOS 8.3.2011:

CentOS Linux release 8.3.2011 and vagrant-sshfs 1.3.5:
[code]

CentOS Linux release 8.3.2011 and vagrant-sshfs 1.3.4:
[code]

Log file attached.
[sshfs-1.3.4.log](https://github.com/dustymabe/vagrant-sshfs/files/5678936/sshfs-1.3.4.log)

[2020-12-11 12:57] giorgioma commented on #122
`yum -y install --enablerepo=powertools fuse-sshfs`
does work

There might be something wrong with my plugin install, but I am still seeing this error on 1.3.5

[2020-12-16 06:36] codylane opened #123 "Bug: Unknown repo: 'PowerTools' on CentOS 8 Stream"
#### `$ vagrant --version`

[code]

#### `$ vagrant plugin list`

[code]

#### How to reproduce

Given this [packer_template repo](https://github.com/chef/bento/tree/master/packer_templates/centos) you can add the following new packer template to create a CentOS 8 Stream image.  I was able to successfully create the CentOS 8 stream image.

[code]

Once the image is created, I add the box to Vagran

[2020-12-17 06:02] dustymabe commented on #123
Yeah, this is a change that was made somewhat recently. See the [CentOS release notes](https://wiki.centos.org/action/show/Manuals/ReleaseNotes/CentOS8.2011?action=show&redirect=Manuals%2FReleaseNotes%2FCentOSLinux8#Yum_repo_file_and_repoid_changes). I'll try to release an update soon.

[2020-12-21 14:24] h0st commented on #122
My current working setup:
- CentOS Linux release 8.3.2011
- Vagrant 2.2.10
- centos/8 (libvirt, 2011.0) – latest
- vagrant-sshfs (1.3.5)

And yes, as mentioned @giorgioma - replace PowerTools to powertools in a vagrant-sshfs plugin sshfs_client.rb file like this:
[code]
It was observed only on the latest centos/8 box.

[2021-05-03 16:38] #120 closed

[2021-05-03 17:12] #123 closed

[2021-05-03 20:55] dustymabe commented on #122
I think all of this should be taken care of in the latest release (`v1.3.6`).

[2021-05-03 20:55] #122 closed

[2021-05-20 23:12] mikeBashStuff opened #124 "Can't load fuse module into the kernel on FreeBSD 13.0"
This module has been renamed to `fusefs` in latest FreeBSD releases. This is what `vagrant` reports:

[code]

Either some version check is in order or some dirty ways similar to `kldload fuse || kldload fusefs` .

[2021-07-16 17:47] metal3d opened #126 "skipping https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm - transfer failed"
Hi, I cannot use sshfs with RockyLinux  guest:

[code]

Why to not use the simple command `yum install epel-release` ?

[2021-07-16 17:55] metal3d commented on #126
OK, for RockyLinux I had to change the command to:

[code]

in `~/.vagrant.d/gems/3.0.1/gems/vagrant-sshfs-1.3.6/lib/vagrant-sshfs/cap/guest/redhat/sshfs_client.rb`

[2021-08-19 07:38] rednaks opened #127 "owner and group not working"
it seems that sshfs is not mounting the folders with the given `owner` and `group`. is it supported by the plugin ? if not maybe it's worth logging a warning or an error to say that they're not supported.

Thanks.

[2021-11-01 11:27] tuupola commented on #127
I noticed the same but only with VirtualBox provider. When using libvirt provider both `owner` and `group` settings seem to work.

[2021-11-01 11:32] tuupola commented on #127
Also currently with libvirt provider files get mounted as `vagrant:vagrant` but with VirtualBox provider files get mounted as `53:games`. This is with `centos/7` box. The `vagrant:vagrant` works for me, but currently with VirtualBox this is impossible because `owner` and `group` settings are not honored.

[2021-11-08 14:22] rednaks commented on #127
@tuupola  I submitted a patch but the project seems dead : https://github.com/dustymabe/vagrant-sshfs/pull/128

[2021-11-08 14:46] tuupola commented on #127
There has been some activity this year so lets wait for a while. It is pity many Vagrant related projects get forgotten because it is not as sexy as Docker.

[2021-11-18 14:05] tuupola commented on #126
@metal3d What is the line you changed? I encountered the same problem.

[2021-12-09 12:51] evenreven commented on #126
I have this issue as well. I solved it by disabling sshfs in the Vagrantfile, then vagrant ssh and `sudo dnf config-manager --set-enabled powertools` and then re-enabling sshfs.

Maybe a dumb question, but why does it try to install epel6 in the first place? Does the plugin identify Rocky Linux 8 as RHEL6? It correctly identifies CentOS8, so it seems something is off somewhere.

[2021-12-09 15:30] tuupola commented on #126
Rocky Linux guest support was added in [Vagrant 2.2.17](https://github.com/hashicorp/vagrant/blob/main/CHANGELOG.md#2217-july-7-2021). What is still needed is [guest capabilities file](https://github.com/dustymabe/vagrant-sshfs/tree/main/lib/vagrant-sshfs/cap/guest) for vagrant-sshfs.

[2021-12-24 10:46] evenreven commented on #126
Thanks for the pointer on this @tuupola . I will attempt a local fix in my project, and (if it works well) then maybe attempt a PR in January.

[2022-01-06 13:07] evenreven commented on #126
I forked this and got it working. Created a PR for it now: #130.

Thanks again for the help, @tuupola.

Hope you have a chance to look at it, @dustymabe.

[2022-01-28 17:05] tuupola commented on #126
@evenreven Awesome! It was in my TODO list to create a PR for this but I was procrastinating and never got around to do it.

[2022-04-20 09:54] lxhg commented on #88
Got same problem with bunch of keys in agent. Given workaround with SSH_AUTH_SOCK= does work.

This works but you need to give this option to other ssh `ssh_opts_append: "-o IdentityAgent=none"`. Maybe this option should be default? Not sure if there is downsides to this solution.

[2022-04-20 11:01] waipeng commented on #88
I have a Yubikey and found out that it did not work with the Yubikey plugged in. Using `SSH_AUTH_SOCK= vagrant up` works, but not `sshfs_opts_append: "-o IdentityAgent=none"`

I was a bit confused at first because I thought agent keys were not being used by Vagrant by default, with the [config-ssh-keys_only](https://www.vagrantup.com/docs/vagrantfile/ssh_settings#config-ssh-keys_only) option.

The

[2022-05-11 05:43] tuupola opened #132 "Is this project still maintained?"
This project is really useful but has not had any activity for 12 months. Is it still being maintained? If not, maybe additional maintainers needed? Or maybe Red Hat / Fedora could sponsor the maintenance? It is after all included in the distribution.

[2022-05-11 12:32] dustymabe commented on #132
hey @tuupola - The answer is complicated. I still care about the project, just have had a lot going on recently. Will try to get back to it and address open issues soon.

[2022-05-13 08:46] tuupola commented on #132
No problem, I know how it goes. Been there myself too more than once. I am personally mostly interested in https://github.com/dustymabe/vagrant-sshfs/pull/130 because Fedora 36 bundled Vagrant now also supports Rocky Linux. In any case thanks for [vagrant-sshfs](https://github.com/dustymabe/vagrant-sshfs) it has been a life saver!

[2022-05-13 08:46] #132 closed

[2022-05-30 13:48] dustymabe commented on #127
Hey @rednaks @tuupola - regarding setting the `-o uid` and `-o gid` option for the SSHFS mount you should be able to do this via the generic [`sshfs_opts_append`](https://github.com/dustymabe/vagrant-sshfs#generic-options) option.

I'm trying to understand the problem a bit more here though. @rednaks, you mention

Where are you providing `owner` and `group`? Can you give more details?

@tuupola, I

[2022-05-30 14:07] dustymabe commented on #98
Closing this pending more information.

[2022-05-30 14:07] #98 closed

[2022-06-06 20:39] dustymabe commented on #127
Thanks @rednaks - I was unaware of that. I'll dig in further.

Thank you for the pointer.

[2022-06-10 19:12] dustymabe commented on #106
Closing this. Please re-open if there is new information to add or the problem persists.

[2022-06-10 19:12] #106 closed

[2022-06-20 20:55] #124 closed

[2022-06-20 20:55] #127 closed

[2022-06-20 20:55] #94 closed

[2022-06-21 00:45] dustymabe commented on #126
This should be fixed by #130 and e76db4d

[2022-06-21 00:45] #126 closed

[2022-07-27 20:58] matstatman commented on #64
Windows 2019 and 2022 now has a build in openssh server, same error

[2022-08-25 10:12] tuupola commented on #127
I had missed all this discussion. In any case thanks for the new release!

[2022-11-28 16:21] justwiebe opened #135 "EPIPE Error"
When running `nuxt dev` inside a shared folder it fails to build and I get an EPIPE error. This works fine outside of a `sshfs` shared folder

[code]